[2018-05-23 17:22] egoist opened #1 "Comparison with Nuxt.js / VuePress / Peco"
## Nuxt.js

### data-prefetching

In Nuxt.js the data is [pre-fetched at runtime](https://nuxtjs.org/api/pages-fetch/), on both server-side and client-side. While in Saber.js the data is pre-fetched at compile time only, which in most cases is better for static websites.

### simplicity

There's a big list of [options](https://nuxtjs.org/api) in Nuxt.js, it makes sense since Nuxt.js is a versatile

[2018-05-23 19:47] JiriChara commented on #1
I was about to ask :trollface:

[2018-05-23 20:16] stursby opened #2 "Fetching data demo not working"
Hey @egoist 👋. I see you've made another lib ha!! I was trying out the [fetching data](https://github.com/egoist/saber.js#fetching-data) snippet and getting the following error:

![image](https://user-images.githubusercontent.com/527849/40448828-4342da6a-5e9c-11e8-97d0-bf3206e7c4a6.png)

My code is the same as in your example

[code]

Any thoughts?

[2018-05-23 22:04] stursby opened #3 "[FEATURE] SPA style links?"
Is it possible to do an SPA-style link such as `<nuxt-link>` or `<router-link>` ... or is Saber meant to be used with regular anchor tags?

[2018-05-23 23:17] #2 closed

[2018-05-23 23:17] egoist commented on #2
Fixed in v0.1.3

[2018-05-23 23:20] egoist commented on #3
`<router-link>` should work

[2018-05-24 00:18] egoist commented on #1
Updated ☝🏻

[2018-05-24 05:58] egoist opened #4 "Add TypeScript support"
Built-in TypeScript support for app code and `saber.config.ts` `saber.app.ts`

[2018-05-24 12:22] luminarious opened #5 "Pug support"
I added `pug` and `pug-loader` packages, but unlike Vuepress this didn't enable Pug templating. What can I do?

[2018-05-24 12:36] egoist commented on #5
I haven't added built-it pug support for Saber.js, but it should follow this guide: https://vue-loader.vuejs.org/guide/pre-processors.html#pug

[2018-05-24 12:41] egoist commented on #5
Before we release a new version, you can do:

[code]

To add pug support.

[2018-05-24 12:48] luminarious commented on #5
I got an error out of that one:

[code]

[2018-05-24 13:36] egoist commented on #5
It should be fixed in latest version, pug is also supported by default now.

[2018-05-24 13:36] #5 closed, assigned to nobody

[2018-05-24 14:47] stursby opened #6 "Pass route params to async data?"
Is this possible (like in Nuxt), or am I doing it wrong? Trying to accomplish something like this:

[code]

Getting the following error

![image](https://user-images.githubusercontent.com/527849/40492996-6717e296-5f37-11e8-8a39-e9003187798a.png)

It looks like in the Docs you're providing a hard coded array of params.

[2018-05-24 14:50] stursby commented on #3
Confirmed. `<router-link>` does indeed work. Thanks!

[2018-05-24 14:50] #3 closed

[2018-05-24 14:57] egoist commented on #6
The `params` method in `<saber>` block is used to get actual URLs. Just like https://nuxtjs.org/api/configuration-generate#routes but here we only need the params part.

[2018-05-24 16:32] egoist commented on #6
A potential solution is to allow adding routes programmatically so you won't need dynamic routes:

`saber.node.js`:

[code]

[2018-05-24 18:24] mio3io opened #7 "Generated router.js in windows"
In Windows, the separator of the generated file becomes a backslash and an error occurs

[code]

By rewriting it as follows, it works normally

[code]

😥 `#pages/users\index.vue` -> 😄 `#pages/users/index.vue`

thank you

[2018-05-25 01:58] #7 closed

[2018-05-25 06:39] fb-erik opened #8 "Customizable HTML template"
Is it possible to change the HTML-template, or use something like a layout-file as in Nuxt?

[2018-05-25 07:55] egoist commented on #8
Why do you need this? https://github.com/egoist/saber.js#manipulating-head is this what you want?

There're many ways to build a layout system.

[code]

Then in your route component:

[code]

[2018-05-25 09:05] fb-erik commented on #8
Thanks for the explanation, I was thinking about how to set html and body attributes to name a few things, but I realise now that I "head" is actually the same as "metaInfo"? Like this?

[code]
but there is no way of customizing the `<div id="__saber"></div>` wrapper is there?

[2018-05-25 09:14] egoist commented on #8
Yeah `#__saber` is the element we mount the app to, you should avoid touching that. If you want to style the element, I think it's fine to use the id.

[2018-05-25 09:15] #8 closed

[2018-05-25 13:05] chanlito commented on #1
What about [Ream](https://github.com/ream/ream)?

[2018-05-25 13:12] egoist commented on #1
@chanlito similar to Nuxt.js in terms of generating static website.

[2018-05-26 22:28] fb-erik opened #9 "Nested routes issue?"
if I create pages like the nested pages example:

[code]

then nothing under `/users` will load, instead I only see the `users.vue` page content.

if I remove the `users/index.vue` file, nested pages load properly.

[2018-05-27 05:57] egoist commented on #6
@fb-erik currently the data generated by `<saber>` block is directly injected to the component's `data()` method at compile time, so we won't be able to know the exact `params` that's been used at that moment. We can just inject the data for all params to component's `data()` method but that sounds a bit silly 😂

[2018-05-27 06:05] egoist commented on #9
that's working fine for me, can you post what is generated in `.saber/templates/routes.js`?

maybe you forget to add `<router-view>` in the `users.vue` component?

[2018-05-27 07:06] fb-erik commented on #9
Sorry, I did forget the `<router-view>`. Thanks!

[2018-05-27 07:06] #9 closed

[2018-05-27 07:14] fb-erik commented on #6
I see, so the only solution to pre-fetching data for dynamic routes is by using `router.addRoutes` in `saber.app.js` and passing in data using props?

[2018-05-28 12:42] NemoAlex opened #10 "Host on non-root directory?"
Is there a way to set root URI instead of '/', like the `publicPath` do in Poi?

[2018-05-28 13:32] egoist commented on #10
Set `root: '/sub-path/'` in `saber.config.js`, I haven't documented this though 😅

[2018-05-28 13:39] NemoAlex commented on #10
Doesn't work I think...

[2018-05-28 13:47] egoist commented on #10
which part isn't working?

[2018-05-28 13:53] NemoAlex commented on #10
saber.config.js:
[code]

In dev mode,

http://localhost:4000/
[code]

http://localhost:4000/sub-path/
[code]

Do I have to put things into `/pages/sub-path/`?

Saber.js 0.1.10

[2018-05-30 05:33] samburgers commented on #6
Trying to do a similar thing.. `saber.app.js` doesn't appear to like async OR the below just doesn't appear to work. should it?

`saber.app.js`
[code]

[2018-05-30 05:52] egoist commented on #6
@samburgers it does not sound like a good idea to bootstrap the router after a runtime API call, maybe we can pre-evaluate that piece of code at compile time too, like that in `<saber>` block:

[code]

[code]

[2018-05-30 06:12] samburgers commented on #6
what you explained in the below comment is exactly what i need to do... ie hit an API and grab all the routes/urls, and then inside the component have the ability to query the API again for further API calls (post content, related API calls etc)

https://github.com/egoist/saber.js/issues/6#issuecomment-391779007

but adding that to `saber.node.js` appears to have no affect on the build/pages.

[2018-05-30 06:18] egoist commented on #6
@samburgers yep that's still a proposal

[2018-05-31 14:55] samburgers commented on #6
the `<saber>` tag also seems to introduce some poor developer-experience (breaks editor things like prettier, linters, syntax highlights etc). I would be a big fan of moving everything to `saber.node.js` like your comment above, which would open up further control over multiple content sources too.

[2018-05-31 15:02] egoist commented on #6
@samburgers Here's also an alternative experimental, undocumented API to bring `<saber>` block as a `.js` file: https://github.com/egoist/saber.js/blob/master/lib/webpack/saber-js-loader.js

So you can do this in a vue component:

[code]

Basically you can write everything that `<saber>` block supported in `.saber.js` too

[2018-06-01 04:52] artyprog opened #12 "Websocket listening port"
Hello,

How change websocket listening port from 8081 to 8888
for example.

Regards

[2018-06-01 04:55] egoist commented on #12
why do you need that?

[2018-06-01 06:03] artyprog commented on #12
Because Mc Affee is listening to this port

[2018-06-01 06:11] ifyour commented on #10
Same problem.

### saber.config.js
[code]

### demo
But it not work. https://ifyour.github.io/text-formatter/demo/ , you can visite [this repo](https://github.com/ifyour/text-formatter) :bug:

### version
saber.js 0.1.6

[2018-06-01 11:02] artyprog commented on #12
That is wise, thank you

[2018-06-02 09:05] Tajnymag opened #13 "Template localization"
I'd like to support different language mutations for my website. Urls would have a domain.com/{lang}/{page} format.

How should I achieve this with Saber.js, if I want to have the pages generated statically?

[2018-06-02 09:19] Globerada commented on #1
If I need to fetch fresh data each day, do I have to compile it each day via cron job or something?

[2018-06-02 10:11] egoist commented on #1
@Globerada seems you need real-time data, then I think fetching data at compile time would be unnecessary. You can use Nuxt or Ream.

[2018-06-02 10:15] egoist commented on #13
Something like `./routes/en/index.vue` `./routes/jp/index.vue`?

[2018-06-02 10:35] Tajnymag commented on #13
Yes, but I meant how should I do this without copying index.vue manually and without having to manage all of them separately.

[2018-06-02 10:39] egoist commented on #13
You can use this instead https://github.com/egoist/saber.js#adding-routes-programmatically

[2018-06-07 16:11] designcourse opened #14 "Are we able to use <router-view />?"
I would like the different routes to be setup within a router-view in the /pages/index.vue component. I created a new Vue project with the vue-cli with the vue router added.

For instance:
`
   <template>
      <div>Welcome to saber.js
          <router-link to="/about">About</router-link>

          <p>Lorem ipsum dolor</p>

          <router-view />
       </div>
    </template>
`

When "About"

[2018-06-07 16:17] egoist commented on #14
Sure it's supported, can you provide a minimal repo?

[2018-06-07 16:21] designcourse commented on #14
I run a large yt channel (youtube.com/user/designcourse with 192k+ subs) and I want to cover Saber.js.  It should bring you a lot of activity.

Do me a favor and hit me up on Skype (or another messaging platform if you prefer or don't have Skype, just let me know).. My nick on Skype is 'dreamache'

It will be easier for me that way.

[2018-06-25 21:52] ChinuxParibus opened #15 "Is there a possible way to separate the metadata configuration to re-use in all components?"
Hello. I'm trying to separate the metadata config (`head` object indicated [here](https://github.com/egoist/saber.js#manipulating-head) ), but it seems that it cannot be possible because can't find the module at its actual path.

File: **_shared/metadata.js**
[code]
But, when I try to import to some Vue file in __pages__ says "Module not found. Can't resolve _shared/metadata.js".

[2018-10-25 13:40] diomed opened #16 "is this project dead?"

[2018-10-26 17:51] egoist commented on #16
Yes it's been deprecated in favor of the Poi plugin: https://poi.js.org/guide/static-websites-in-vue.html

Basically Poi is the framework-agnostic version of vue-cli 3, and there's a plugin to turn SPA into static website.

[2018-10-26 17:51] #16 closed

[2019-01-20 13:30] egoist opened #17 "New docs"
The new docs (https://saberjs.org/) is WIP, let me know if anything important is missing, or something you'd like to see in the docs.

[2019-01-20 14:34] egoist opened #18 "Extend Saber's Node.js APIs via saber-node.js"
Use `saber-node.js` to extend Saber.js Node.js APIs:

[code]

In you layout:

[code]

Exposes all the hooks in Saber: https://github.com/egoist/saber/blob/347224b2be2369b210e35b03daaa6773f6dece88/packages/saber/lib/index.js#L15-L29

[2019-01-20 14:48] #14 closed

[2019-01-20 14:51] egoist commented on #10
Closing this since the old version is no longer maintained, I'll implement this in 0.3 https://github.com/egoist/saber/projects/1#card-16710493

[2019-01-20 14:51] #10 closed

[2019-01-20 14:54] egoist commented on #1
This library has been rewritten, currently it's more like Gatsby / Gridsome without graphql.

[2019-01-20 14:54] #1 closed

[2019-01-20 14:56] egoist commented on #6
Closing due to rewrite: https://saberjs.org

[2019-01-20 14:56] #6 closed

[2019-01-20 14:56] #15 closed

[2019-01-20 16:21] egoist opened #19 "Serve static files"
Serve static files under root path.

- [x] Serve ~`static` folder or~ `public` folder?
- [x] Serve `$theme/$staticFolder` as well?

[2019-01-20 16:47] egoist opened #20 "Prefetching links in viewport"
Maybe use https://github.com/GoogleChromeLabs/quicklink

[2019-01-21 11:48] egoist commented on #17
@matt-auckland Grammer fixes are welcome 👌

[2019-01-22 16:31] egoist opened #22 "We may need a logo 🤔"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/egoist/saber/issues/22/badge.svg" />](https://issuehunt.io/r/egoist/saber/issues/22)

Keywords:

- letter s
- saber
- sword
- maybe cute

[2019-01-23 06:06] mirzazulfan commented on #22
Hi @egoist .. I've disigned a logo for you, if you have an idea please share with me it would be better for me. thanks .. Best regard.
![sabe](https://user-images.githubusercontent.com/36124339/51586392-aaadd400-1f0f-11e9-89ef-7227f02abd46.png)

[2019-02-08 13:37] askcreative commented on #22
![saber](https://user-images.githubusercontent.com/29407286/52481470-eb177e00-2bae-11e9-95eb-1ba5d08ac38a.png)

[2019-02-15 16:29] #19 closed

[2019-02-16 14:06] #18 closed

[2019-03-01 03:39] egoist opened #25 "Convert relative links to permalinks"
eg. in `pages/foo.md`:

[code]

If `pages/bar.md` exists then we should convert it the to the permalink of the page.

[2019-03-01 12:24] #25 closed

[2019-03-01 13:00] ArashiGrey opened #26 "Images folder"
I am trying to add a logo and cannot figure out where to put it. I’ve tried an assets, and a public folder in the root of my project, and under the theme.

[2019-03-01 15:12] egoist commented on #26
`public` folder works in both project root and themes, e.g. `./public/foo.png` -> `/foo.png`.

[2019-03-01 15:35] egoist commented on #26
See https://saberjs.org/docs/public-folder.html

[2019-03-01 15:35] #26 closed

[2019-03-09 07:06] h404bi opened #27 "Broken on Windows"
[code]

[2019-03-11 03:12] egoist commented on #27
Thanks for reporting this, will fix it later.

[2019-03-13 12:10] #27 closed

[2019-03-13 12:10] egoist commented on #27
Should be fixed in `0.2.13`

[2019-03-15 05:18] h404bi commented on #27
@egoist I'm afraid not 🤣
![sc](https://user-images.githubusercontent.com/5764917/54410016-9ffc0800-4724-11e9-9f96-9564d600f75d.png)

[2019-03-19 02:53] iCyris opened #28 "Related posts support"
Hello @egoist,

Recently I'm making a theme based on saber, and I want to add related posts function to post pages (e.g. next post, pre post). I didn't find it on the docs, will Saber.js support it in the future? :D

[2019-03-20 18:12] egoist commented on #28
I just implemented this in my own blog: https://github.com/egoist/blog/commit/96cb2020e1afc0af15070dd93e0093465a2fe2b4

The latest version of Saber supports saber-node.js in theme directory: https://github.com/egoist/blog/blob/96cb2020e1afc0af15070dd93e0093465a2fe2b4/themes/luna/saber-node.js

Some APIs are not yet documented though.

[2019-03-21 02:26] iCyris commented on #28
It works fine, thank u!

[2019-03-21 02:26] #28 closed

[2019-03-21 12:09] egoist opened #29 "Port the default VuePress theme to Saber 💩"

[2019-03-21 15:26] h404bi commented on #27
still encounter this issue in saber@latest (saber@0.2.20), is there any other information I should provide for you to investigate this?

[2019-03-21 16:43] egoist commented on #27
0.2.21 should work

[2019-03-22 02:34] iCyris opened #30 "New theme submission"
🤔I made a theme for saber - Ume ([demo](https://cyris.pen.moe/))

It will be published soon after some tweaks...

[2019-03-23 14:09] egoist commented on #30
Great, I will create a page like https://hexo.io/themes/ to showcase the themes.

[2019-03-24 15:53] h404bi opened #31 "Parse permalinks placeholders from markdown files name"
Just like what Hexo does.

**saber-config.yml**
[code]

**./pages/_posts/2019-03-24-hello-saber.md**
[code]

Expect:

`./pages/_posts/2019-03-24-hello-saber.md` becomes `/posts/2019/03/24/hello-saber.html`

Actual:

`./pages/_posts/2019-03-24-hello-saber.md` becomes `/posts/2019/03/24/2019-03-24-hello-saber.html`

[2019-03-24 15:56] egoist commented on #31
Nice we just need to extract the date from filename and use it as the default value of `page.attributes.createdAt` 👌

[2019-03-24 17:03] h404bi commented on #31
Proposal:

A new saber config property: `postName` with default value: `:title.md`. The `:slug` of a post defaults to `:title` from `postName`.

When users define `postName` to `:year-:month-:day-:title.md`, extract date `:year-:month-:day` from `postName` as `attributes.createdAt`, and `:title` as`:slug`.

Similar to Hexo: https://github.com/hexojs/hexo/blob/087b3fa456aa97279df61a7f05e59c932051ee

[2019-03-26 11:53] h404bi commented on #31
Another way is making a common page filename format with a built-in regex, inspired by [zola](https://github.com/getzola/zola/blob/eccb1e9986475736381a0d0956cdfd8468f43ba0/components/library/src/content/page.rs#L26).

In this way, no extra `postName` config property needed, page filename format becomes strict but still behaves the same way as Hexo.

[2019-03-26 12:20] egoist commented on #31
we have the `permalinks` option https://saberjs.org/docs/permalinks.html#placeholders

[2019-03-26 13:13] h404bi commented on #31
Yeah, I know that option. What I want to say is that we need a way to detech whether the filename contains datetime or not, thus I provide two methods to do so. One is customizable and the other is strict. I prefer the latter, and will try to implement it.

[2019-03-26 14:04] #31 closed

[2019-03-27 15:37] egoist opened #33 "Website: Add a page to show available themes"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/egoist/saber/issues/33)

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

#### [<img src='https://avatars2.githubusercontent.com/u/8784712?v=4' alt='egoist' width=24 height=24> egoist](https://issuehunt.io/u/egoist) has been rewarded.

### Backers (Total:

[2019-03-27 15:53] h404bi opened #34 "cannot resolve external script tag in markdown file"
**log**:

[code]

**./pages/_posts/2019-03-27-saber-post.md**:

[code]

[2019-03-27 16:33] h404bi opened #35 "shortcodes system"
Like [Hexo Tag Extension](https://hexo.io/api/tag.html) or [Wordpress Shortcodes](https://en.support.wordpress.com/shortcodes/) system. What I like to call "extendable markdown writing experience".

[2019-03-27 16:36] abdiG commented on #33
Hi @egoist , im new to open source and would like to take on this challenge if no one is working on it.  Do i create a folder in website/pages? If so where can i get current themes.

[2019-03-27 16:49] egoist commented on #34
markdown page is compiled as vue component, so `<script>` and `<style>` are used as [language blocks](https://vue-loader.vuejs.org/spec.html#language-blocks), you can use `<component is="script"></component>` to workaround that.

[2019-03-27 16:53] egoist commented on #34
or better, use a vue component to load gist asynchronously like this: https://github.com/leptosia/docute/blob/master/src/components/Gist.vue

[2019-03-27 17:07] egoist commented on #33
@abdiG Add a `website/pages/themes.vue`, here's the Gatsby showcase page (https://www.gatsbyjs.org/showcase) for inspirations.

To get themes we can create a `website/data/themes.yml` to allow submissions from users.

[2019-03-27 17:08] egoist commented on #35
that can be implemented as a markdown-it plugin, or maybe there's already one.

[2019-03-27 18:15] abdiG commented on #33
@egoist thanks for the opportunity. I have forked the project and created an issue locally but i have run into this issue:
![setup](https://user-images.githubusercontent.com/46496734/55101558-bd24c500-509a-11e9-9a7f-6f7fd673ff5a.PNG)

[2019-03-27 18:18] egoist commented on #33
@abdiG run yarn in the root directory and yarn link in packages/saber so that the saber command will be available.

[2019-03-27 19:11] abdiG commented on #33
@egoist i have done as you said but still shows the error.
![saberError](https://user-images.githubusercontent.com/46496734/55105289-8f437e80-50a2-11e9-84b3-30c71dc8e02b.PNG)

[2019-03-27 19:13] egoist commented on #33
@abdiG what's the result of yarn link?

[2019-03-27 21:43] abdiG commented on #33
@egoist this is what i got when i run `yarn link`. I should run `npm run dev` in the root?
![yanLink](https://user-images.githubusercontent.com/46496734/55114264-d851fd80-50b7-11e9-92f7-621be6017b77.PNG)

[2019-03-28 15:19] h404bi commented on #34
Thanks for the information, will research.

[2019-03-28 15:19] #34 closed

[2019-03-28 15:23] h404bi opened #36 "feed plugin: support generating atom and rss2 type of feed"

[2019-03-28 15:40] egoist commented on #36
Why do you need that? I think JSON format is already widely supported.

[2019-03-28 15:58] h404bi commented on #36
Old websites want the backwards compatibility for subscribers. For example, my website was using atom feed previously, and I want subscribers still can get feeds from my site after I moving my website to SaberJS. Changing feed URL or format without notice would make RSS readers such as Inoreader or Feedly unhappy.

JSON format is great, but some old sites might need a period of transition, to noti

[2019-03-28 16:15] egoist commented on #36
that makes sense then, PR welcome, a plugin option `format: 'atom' | 'rss' | 'json'` would work.

[2019-03-29 10:15] askcreative commented on #29
I will give this a go. 😊

[2019-03-29 11:55] h404bi opened #37 "backslash in pagination"
![2019-03-29_194913](https://user-images.githubusercontent.com/5764917/55230830-ee002800-525b-11e9-8357-fd8f3563e859.png)

**./pages/index.md**:

[code]

maybe similar to #27

[2019-03-30 02:34] h404bi opened #39 "saber build hangs"
Sometimes stuck in 95% emitting
[code]

Sometimes hangs after compile/build
[code]

[2019-03-30 03:14] iCyris opened #40 "saber-node.js undefined error"
Hello @egoist ,

I have published [saber-theme-ume](https://www.npmjs.com/package/saber-theme-ume) on `npmjs.com`, but I met an error when run `npm run dev` (It works well when I run `npm run  dev:example` on the [theme](https://github.com/iCyris/Ume) folder):

[code]

Is there something wrong with the [saber-node.js](https://github.com/iCyris/Ume/blob/master/src/saber-node.js) file or I just I mi

[2019-03-30 03:50] egoist commented on #40
oops it's transpilation error from vue-compile:
<img width="1000" alt="屏幕快照 2019-03-30 上午11 49 11" src="https://user-images.githubusercontent.com/8784712/55271049-e4b99e80-52e1-11e9-8c08-506f0f1f9f2a.png">

`this.pages.values()` is a `Map` so it shouldn't use `.concat`

[2019-03-30 04:00] egoist commented on #40
Should be fixed by `vue-compile@0.5.3`

[2019-03-30 04:30] iCyris commented on #40
Fixed. thank u :D

[2019-03-30 04:30] #40 closed

[2019-03-30 04:35] iCyris commented on #30
Published. Ready to be showcased now XD.

[2019-03-31 03:06] h404bi commented on #39
Investigated and found the reason, it hangs because the theme uses external library which does not support SSR. But the compiler didn't throw error and print status.

[2019-03-31 03:06] #39 closed

[2019-03-31 06:16] #37 closed

[2019-03-31 07:13] h404bi commented on #37
https://github.com/egoist/saber/commit/66509a9aa6614721cead36bb74dad63e86dd1d25 didn't fix the pagination, which is generated within the query-post plugin.

[2019-03-31 08:23] egoist opened #42 "Support `:categories` in permalinks template"
Like the similar feature in Jekyll:

[2019-04-01 06:25] egoist commented on #36
Supported in `saber-plugin-generate-feed@0.1.0`

[2019-04-01 06:25] #36 closed

[2019-04-03 11:04] egoist opened #44 "Support toc in markdown page"
Similar to https://vuepress.vuejs.org/guide/markdown.html#table-of-contents

Replace `[[toc]]` with the actual Table of Contents.

[2019-04-03 17:02] egoist opened #45 "Only add page in .saber/routes.js when it's visited"
By default in dev mode we should emit a `routes.js` exporting an empty array, when you visited a page in browser  we add this page to `routes.js`  and let browser wait until the build completes.

This should dramatically improve build performance 🤔

[2019-04-05 08:42] askcreative opened #46 "markdown-it plugins"
I can't seem to get markdown-it plugins to work. Nothing happens. Here is a sample of what I'm trying.
https://github.com/askcreative/saber-tests-probs

[2019-04-05 08:51] egoist commented on #46
It requires a `name`: https://github.com/markdown-it/markdown-it-container#api

[2019-04-05 08:51] #46 closed

[2019-04-05 09:24] egoist opened #47 "Redirect support"
## Motivation

Sometimes you might change the permalink of a page, e.g. move `/about` to `/about-us` but you don't want to break existing links to `/about`

## Solution

Add a new api in `saber-browser.js`:

[code]

## Implementation

In dev mode, we can simply add a redirect route in vue-router's `routes` option, in production mode, we also need to generate `about/index.html` with only `<meta htt

[2019-04-05 15:12] MarchWorks commented on #44
@egoist should I use [markdown-it-table-of-contents](https://www.npmjs.com/package/markdown-it-table-of-contents) or should I create a new file like [VuePress tableOfContents.js](https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/markdown/lib/tableOfContents.js) which way do you prefer?

[2019-04-06 16:53] h404bi opened #48 "How can I customize the builtin markdown anchor plugin"

[2019-04-06 17:04] egoist commented on #48
the builtin anchor plugin only add `id` attribute to the header, so I guess you can just use your own anchor plugin instead.

[2019-04-06 17:10] egoist commented on #48
we should probably expose more options to customize builtin markdown plugins though.

[2019-04-08 10:25] #45 closed

[2019-04-08 16:21] egoist opened #51 "Inject markdown headers as page attributes"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/egoist/saber/issues/51/badge.svg" />](https://issuehunt.io/r/egoist/saber/issues/51)

Add a markdown-it plugin to inject markdown headers `[{ text: 'Hello', slug: hello' }]` as `page.attributes.markdownHeaders`, similar to Vuepress's `this.$page.headers`.

When to inject:

- `page.attributes.injectMarkdownHeaders === true`
- Or `page.attribu

[2019-04-09 15:19] MarchWorks commented on #47
I will try to take care of this

[2019-04-09 17:52] egoist opened #52 "Feedback for --lazy mode"
Saber 0.4 introduced `--lazy` mode which only compiles the page when it's requested (which will improve the build speed a lot), you can help us improve this feature by giving feedback!

[2019-04-10 08:20] GastroGeek opened #54 "script tags appear to break HMR/Hot Reloading when included in md file?"
# What
Inserting script tags into an md file seems to break HMR*

# Expected
HMR should work and pages should update without manual refresh

# Reality
HMR does not work and pages do not auto-update.

# Replicating

Create a page with:

[code]

You will see the console.log message...

Try changing the markdown whilst the script tag remains... it won't update the page. Remove the script tag and HMR

[2019-04-10 08:29] egoist commented on #54
the `<script>` tag are treated as Vue SFC `<script>` blocks, and yes it does break [HMR](https://github.com/egoist/saber/blob/master/KNOWN_ISSUES.md#hot-module-replacement-sometimes-doesnt-work).

If you want to use the normal HTML `<script>` tags, use this workaround `<component is="script">console.log('I am alive')</component>`, not sure if this will break HMR though.

[2019-04-10 08:30] andreasvirkus commented on #22
![Screenshot 2019-04-10 at 11 30 21](https://user-images.githubusercontent.com/9140811/55863873-11907000-5b84-11e9-8cdd-46016600eaa1.png)

[2019-04-10 08:31] GastroGeek commented on #54
The appears to work! Thanks for the super quick response 👍

[2019-04-10 11:08] #30 closed

[2019-04-10 12:55] MarchWorks commented on #47
@egoist for the dev mode I have added
[code]
just before [create-app.js#L115](https://github.com/egoist/saber/blob/34932ffd8f34864c97e14ca240255c2bbd8c998d/packages/saber/vue-renderer/app/create-app.js#L115) I don't think that it's the right thing to do I just want to get stuff to work first. the problem is that I don't know how to get this routes in the build phase specifically in [saber/vue-rend

[2019-04-10 13:34] egoist commented on #47
In dev mode you don't need to get redirect routes in the build phase since it's served as a client-side only app, your code is pretty much enough.

In production mode, we can use the ssr context:

https://github.com/egoist/saber/blob/34932ffd8f34864c97e14ca240255c2bbd8c998d/packages/saber/vue-renderer/app/entry-server.js#L3

This is the only thing we need to do in production:

[code]

We leave the

[2019-04-10 17:48] MarchWorks commented on #47
@egoist  so what I should do know is nothing else than adding
[code]
after
https://github.com/egoist/saber/blob/f45c4e32bbc22d7768fb6a60718cb2a55e4c3ef5/packages/saber/vue-renderer/lib/index.js#L236
then creating a plugin which will do the redirecting job?

[2019-04-10 17:57] egoist commented on #47
yeah

[2019-04-11 11:36] MarchWorks commented on #47
@egoist help please, I created a new plugin carcass
[code]
But I don't have any idea for what I should do inside I am really sorry for the disturbance

[2019-04-11 17:02] MarchWorks commented on #47
@egoist check if this is right I used `saber-plugin-generate-feed` as a base. I have one problem I don't know how to get `from` and `to` values from `redirectRoutes`
[code]

[2019-04-12 10:04] egoist commented on #54
SFC `<script>` block in Markdown page should also work with HMR now, try `0.4.2`,

[2019-04-12 10:04] #54 closed

[2019-04-12 10:22] MarchWorks commented on #47
To put it simply where should I execute `context.addRedirect`?

[2019-04-12 10:25] egoist commented on #47
You can inject a function `addRedirect ` to `browserApiContext`, in browser it calls `router.addRoutes` in node it calls `context.addRedirect`.

[2019-04-12 15:25] MarchWorks opened #57 "Sidebar doesn't work if you access path without .html"
Try accessing https://saber.land/tutorial/tutorial the sidebar won't work instead an error will show up in the console

[2019-04-12 15:35] egoist commented on #57
Yeah because that's how it is generated. we didn't have a route called `/tutorial/tutorial`.

[2019-04-12 15:40] h404bi commented on #57
You may redirect https://saber.land/tutorial/tutorial to https://saber.land/tutorial/tutorial.html for user experience and seo purpose.

[2019-04-12 16:41] MarchWorks commented on #57
Shouldn't `/tutorial/tutorial` return `404.html` if the route doesn't exist normally, like when you go to ``/tutorial/sssssssss``?

[2019-04-12 16:51] egoist commented on #57
@MarchWorks Netlify rewirtes /foo to /foo.html automatically if /foo.html exists.

[2019-04-12 17:14] MarchWorks commented on #57
Then should I close this one?

[2019-04-12 17:15] egoist commented on #57
@MarchWorks we still need to fix this though, when the *redirect* PR lands.

[2019-04-12 18:41] HerrBertling commented on #17
I tried to use components/layout parts for different layouts.

Putting them into `layouts/parts` and then importing them within `layouts/page.vue` with e.g. `import PageFooter from './parts/footer.vue` made Webpack fail because it could apparently not import the file. Putting them into a root level `components` folder and importing relatively from `layouts/page.vue` (e.g. `import PageFooter from '

[2019-04-12 18:48] egoist commented on #17
@HerrBertling that should work, what's the error you ran into?

[2019-04-12 18:53] HerrBertling commented on #17
I just checked the tutorial and well… 🤦‍♂️ – maybe I should add `.vue` to the files I import 😆 🙈

[2019-04-13 04:22] HerrBertling commented on #17
I did some digging. I’m not very good at Webpack, but I think the config in here would enable importing Vue files without extension? https://github.com/egoist/saber/blob/master/packages/saber/vue-renderer/lib/index.js - is something missing there? Seems not like it?

I’m so used to omitting the file extension from vue-cli, nuxt and VuePress that I’d say this should happen in Saber as well.

[2019-04-13 04:45] egoist commented on #17
@HerrBertling It's better to import non JavaScript/JSON files with explicit extension.

[2019-04-13 04:56] egoist commented on #17
@HerrBertling With that being said, I'll leave it up to you: https://github.com/egoist/saber/commit/186cb295cad8b16d2248a379e2af4f3c7591b3a1

[2019-04-13 14:48] askcreative commented on #29
This is what I have. https://github.com/askcreative/saber-theme-vuepress

[2019-04-13 14:51] egoist commented on #29
Great, but the CSS is kinda broken

<img width="1190" alt="屏幕快照 2019-04-13 下午10 50 23" src="https://user-images.githubusercontent.com/8784712/56081319-973f4480-5e3e-11e9-90f3-07aa41018835.png">

[2019-04-13 14:53] egoist commented on #29
For the homepage's layout, you can actually configure it with `page.attributes` instead of `$themeConfig`

[2019-04-13 19:05] askcreative commented on #29
Appearance should be better and I moved the home page to page.attributes.

[2019-04-14 05:51] h404bi opened #61 "tag/category pages should have all the page attributes"
Should follow the [Page Interface](https://saber.land/docs/page-interface.html), currently they lack of `createdAt` and `updatedAt` attributes.

https://github.com/egoist/saber/blob/9499b12bdcfcbb2adf944155dfd649b3380b8ee8/packages/saber-plugin-query-posts/lib/index.js#L94-L99

[2019-04-14 06:08] h404bi commented on #61
And I wonder whether tag/category pages should have `page.attributes.title` as well. An use case is setting title of tag/category pages in the `head()`

[code]

[2019-04-15 05:49] egoist commented on #57
Fixed 👌🏻

[2019-04-15 05:49] #57 closed

[2019-04-15 06:01] #61 closed

[2019-04-15 07:33] h404bi opened #63 "Nesting category error"
[code]

[code]

[2019-04-15 07:57] egoist commented on #63
I can't reproduce it.

[2019-04-15 08:03] h404bi commented on #63
Updated saber from version `0.3.7` to `0.4.2`, the issue is gone.

[2019-04-15 08:03] #63 closed

[2019-04-15 08:06] h404bi commented on #63
Maybe plugins should specify minimum version dependency of saber core.

[2019-04-15 09:08] MarchWorks commented on #47
@egoist this one should get closed sorry I should have closed it with the PR

[2019-04-15 09:08] #47 closed

[2019-04-16 11:19] MarchWorks opened #65 "Plugin for night mode like samsung internet night mode"
## Feature request

#### How should this be implemented in your opinion?
A plugin that generate new style from page style

#### Are you willing to work on this yourself?
Yes

So what do you think about this idea can it be implemented?

[2019-04-16 11:54] h404bi commented on #65
Shouldn't it be a theme level feature?

[2019-04-16 12:03] egoist commented on #65
Yeah that should depend on the theme.

[2019-04-16 12:20] MarchWorks commented on #65
In case a theme doesn't have night mode the developer(user) can use the plugin to generate one

[2019-04-16 12:29] MarchWorks commented on #65
But it's true that the developer can just choose a theme with night mode

[2019-04-16 12:29] #65 closed

[2019-04-17 10:11] krmax44 opened #66 "Add layout transitions"
I'd like to propose the ability to define page transitions also in layouts, as it becomes repetitive to set the same transition for every page of one type over and over again. Pages would then inherit the transition from their layout, similarly to how `head` currently works, with the possibility of overwriting it page-specifically, if needed.

[2019-04-18 15:08] h404bi opened #67 "Renaming/deleting markdown file breaks reloading"
#### Version

0.4.3

#### Steps to reproduce

1. run dev server
2. rename or delete a markdown file

#### What is expected?

Should handle renaming or deletion like Hexo, without breaking the workflow.

#### What is actually happening?

[code]

[2019-04-19 05:49] h404bi opened #69 "expose tag/category permalink from query-post plugin"
## Feature request

Expose/Return the permalink of tags or cateogries from the query-post plugin.

#### What problem does this feature solve?

So users or theme developers can use the permalink in their theme. Currently the only way to do it is by hardcoding the permalink in the theme. For instance:

https://github.com/egoist/blog/blob/b29939c7148e19b32b3020499b27ae29cea0cdf6/themes/luna/layouts/d

[2019-04-19 09:14] MarchWorks commented on #69
PR https://github.com/egoist/saber/pull/64

[2019-04-20 11:35] luminarious commented on #17
I can't seem to find a page in the docs that would list saber's CLI details. What parametres to use when.

[2019-04-25 18:31] diomed opened #70 "Jigsaw blog starter template for Saber"
I've already suggested this; I hope you make it:

http://jigsaw-blog-staging.tighten.co/

https://github.com/tightenco/jigsaw-blog-template

[2019-04-25 18:38] egoist commented on #70
That template looks pretty simple, wanna give it a try?

[2019-04-25 18:40] diomed commented on #70
it's simple for you, maybe :D

if it was complicated I bet then you wouldnt even consider doing it.

[2019-04-25 18:50] egoist commented on #70
That's simple because most of the required features are covered in this [tutorial](https://saber.land/tutorial/tutorial.html).

If you run into some problems feel free to ask for help here or on Discord.

[2019-04-25 19:13] diomed commented on #70
unsure why you even have suggestions .
so you could suggest to one who suggested to do it himself?!?

[2019-04-25 19:15] egoist commented on #70
Yes, that's how open source works 🕵

[2019-04-26 19:38] MarchWorks opened #71 "Support for AMP"
## Feature request

I am not sure if it's possible already or not because AMP has many conditions
#### Are you willing to work on this yourself?
Not sure

[2019-04-27 02:08] egoist commented on #71
As a reference, this is how Next.js added AMP support https://github.com/zeit/next.js/pull/6706

[2019-04-27 05:59] egoist commented on #67
Hmm I can't reproduce it.

[code]

[2019-04-27 06:23] #69 closed

[2019-04-27 08:09] egoist opened #72 "Query data from anywhere"
## Feature request

#### What problem does this feature solve?

Allow users to pull data in components when they actually need it.

#### What does the proposed API look like?

Introducing the `saber-data.js` (supported in project-level and theme-level):

[code]

In a component:

[code]

#### How should this be implemented in your opinion?

Convert this:

[code]

to:

[code]

The content of `cache/

[2019-04-27 08:18] MarchWorks commented on #67
Maybe it has something to do with the OS I have windows

[2019-04-27 14:22] #66 closed

[2019-04-27 14:27] krmax44 commented on #66
Superb! Will try as soon as possible, thanks so much!

[2019-04-28 10:23] MarchWorks commented on #71
@egoist what is the best way to add links to the head in saber?

[2019-04-28 12:25] MarchWorks commented on #71
@egoist should this be made as `saber-plugin-amp` which get added to `saber-config` it would make changes during the build process like adding `amp` to the html tag `<html amp>` (`<html ⚡>`). I still don't have the right idea of how amp support should works. it would be great if you post a basic initial todo list

[2019-04-28 15:48] krmax44 opened #80 "feat: Asset handling via Frontmatter"
Basically https://github.com/vuejs/vuepress/issues/79. Common feature in Hexo and the likes, where you can set assets like a post thumbnail in the frontmatter:

[code]

[2019-04-28 17:11] MarchWorks commented on #71
the previous comment doesn't fell right it would be better to set `amp: true` inside `saber-config.yml` of the theme and change the code base accordingly

[2019-04-29 09:32] egoist opened #83 "Feature: import code snippet with a Vue component"
## Feature request

#### What problem does this feature solve?

Import code snippet in Vue template, which means it works in Markdown page, Vue page or even HTML page and Pug page, it just works everywhere

#### What does the proposed API look like?

Simply use the Vue component:

[code]

#### How should this be implemented in your opinion?

Use a custom vue-template-compiler module to transform:

[2019-04-29 11:26] MarchWorks commented on #71
After more consideration I think that something like
[code]
 in `saber-node.js` is a good start

[2019-04-29 16:17] egoist opened #84 "Bundle the app runtime"
To keep the size small and speed up build process, we can:

- extract `saber/vue-renderer/app` into `saber-vue-app`
- bundle `saber-vue-app` with rollup

[2019-04-29 17:19] krmax44 opened #85 "bug: categories causing build fail"
While I was working on #42, I noticed that adding any `categories` to a post, a build fail would occur.

[code]

For each category added, a new error like the one above was generated.

[2019-04-29 18:34] egoist commented on #85
hmm can't reproduce it.

[2019-04-30 06:01] egoist opened #86 "Automatically publish a release per commit"
When there's a bug fix or new feature landed in master we should automatically publish the package as `saber-next` on npm, so that you can try out the new version without waiting us to actually update `saber` on npm.

The question is: should we use a new format of package name, e.g. `saber-next` or `saber@next` channel instead?

[2019-04-30 06:28] egoist opened #87 "i18n support"
Similar to the solution in [VuePress](https://vuepress.vuejs.org/guide/i18n.html#site-level-i18n-config).

To enable multi-language support, you can use a special folder structure:

[code]

Then, specify the `locales` option in `saber-config.js`:

[code]

You can override `siteConfig` and `themeConfig` in `locales` option.

`this.$siteConfig` will be computed based on `$route.path`:

[code]

[2019-04-30 07:58] egoist opened #88 "Improve type coverage"
Before adding tests, perhaps we should `// @ts-check` more js files and improve Saber's [type definition file](https://github.com/egoist/saber/blob/master/packages/saber/types/index.d.ts).

[2019-04-30 08:01] MarchWorks commented on #86
I prefer `saber@next`

[2019-04-30 09:23] h404bi commented on #84
Why not use `saber-renderer-vue`, and the possible future `saber-renderer-react`? XD

[2019-04-30 12:31] MarchWorks commented on #71
@egoist is there a way to customize https://github.com/egoist/saber/blob/75a61f78f72a4c2fdea2bce721949b1cfdc290a9/packages/saber/vue-renderer/lib/get-document.js#L16
with a plugin? or should I make changes directly in https://github.com/egoist/saber/blob/master/packages/saber/vue-renderer/lib/index.js
I am doing the following in `saber-node`
[code]
because it's not necessary that all pages are bui

[2019-04-30 13:30] egoist commented on #71
We can implement this as a plugin `saber-plugin-amp`, AMP support can be opt-in via a page component option (or page attribute): `amp: true`. for example the `pages/about.md`:

[code]

Then it will output `/about.html` and `/about.amp.html`

[2019-04-30 14:08] krmax44 commented on #85
wanted to give more debug info but the bug just vanished like some hot new javascript framework. :thinking:

well if it pops up again i'll reopen.

[2019-04-30 14:08] #85 closed

[2019-04-30 14:21] krmax44 commented on #70
I'll start working on this one :man_technologist:

[2019-04-30 14:29] egoist commented on #70
$10 seems too little for making a theme, I'll see if I can increase the bounty.

[2019-04-30 14:35] egoist commented on #84
@h404bi even if we have `saber-renderer-vue`, we still need to split the renderer (saber plugin) and the app runtime.

[2019-04-30 14:41] h404bi commented on #84
true, I just have fun in naming the package.

[2019-04-30 19:31] MarchWorks commented on #71
generally I am doing something like this
[code]
but I don't know how to customize https://github.com/egoist/saber/blob/37ef2dc6be705552443e7e079478175d798569e8/packages/saber/vue-renderer/lib/get-document.js#L15 of course there are other things to change but if I know how to change `htmlAttrs`  then I will be able to change the others

PS: My goal in contributing ( trying to be more precise ) is t

[2019-05-01 09:59] egoist commented on #71
We can't really do that in the `onCreatePage` hook, because we should allow users to use `amp: true` in layout component as well (similar to `transition`), we can only know whether or not to create amp after rendering, by assigning `routeComponent.amp` to `ssrContext.amp` in `entry-server.js` and checking if it is `true`.

After rendering all normal pages, we render the amp pages.

[2019-05-01 10:25] egoist opened #89 "Invoke a hook before/after generating a page"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/egoist/saber/issues/89/badge.svg" />](https://issuehunt.io/r/egoist/saber/issues/89)

## Feature request

#### What problem does this feature solve?

Would be useful for https://github.com/egoist/saber/issues/71

#### What does the proposed API look like?

[code]

#### How should this be implemented in your opinion?

N/A

#### Are you willin

[2019-05-01 12:46] #67 closed

[2019-05-01 13:09] egoist commented on #67
Please try saber@0.4.8-canary.0 to see if it's fixed, you can install it via `yarn add `saber@canary`

[2019-05-01 13:20] h404bi commented on #67
![Capture](https://user-images.githubusercontent.com/5764917/57018631-d818c500-6c56-11e9-8d92-1d51eeaf4343.PNG)

Nope.

[2019-05-01 13:22] MarchWorks commented on #67
break

[2019-05-01 13:27] MarchWorks commented on #67
`hash` here
https://github.com/egoist/saber/blob/550d07bd8c4fb75f9392bd3fe52c1e6606ec648b/packages/saber/lib/plugins/source-pages.js#L115

[2019-05-01 13:39] egoist commented on #67
try `0.4.8-canary.1`

[2019-05-01 13:43] h404bi commented on #67
Fixed in `0.4.8-canary.1`.

[2019-05-01 14:13] egoist opened #94 "Allow to extract CSS into standalone files"
## Feature request

#### What problem does this feature solve?

Extract CSS for better caching.

#### What does the proposed API look like?

Currently:

- in prod, Saber inlines critical CSS in the initial HTML, other CSS are injected via `<script>` tag dynamically
- in dev, all CSS are injected dynamically

Since [mini-css-extract-plugin](https://github.com/webpack-contrib/mini-css-extract-plugin

[2019-05-01 14:59] ArchiveBase commented on #29
Here a best use
https://strapi.io/documentation/3.x.x/getting-started/introduction.html
https://github.com/strapi/strapi/tree/master/docs [MIT]

![image](https://user-images.githubusercontent.com/46082456/57023467-52981380-6c5c-11e9-8934-f74b251bd3d7.png)

[2019-05-01 16:29] askcreative commented on #29
@egoist I'd like to continue to work on this if that's o.k. I understand if it's not.

[2019-05-01 16:32] egoist commented on #29
Sure you can go ahead.

[2019-05-01 16:36] egoist commented on #22
I just made one as well.

()==[:::::::::::::>

[2019-05-01 16:39] askcreative commented on #29
:heart_eyes: Thank you :satisfied:

[2019-05-01 16:40] MarchWorks commented on #89
@egoist where should `beforeGeneratePage` be emited I am not sure maybe here for the build process
https://github.com/egoist/saber/blob/38fe0a48b382854456a4b58c4dd253229bb17885/packages/saber/vue-renderer/lib/index.js#L296
and here for the dev
https://github.com/egoist/saber/blob/38fe0a48b382854456a4b58c4dd253229bb17885/packages/saber/lib/plugins/source-pages.js#L97

[2019-05-01 17:46] ArchiveBase commented on #29
@askcreative
https://strapi.io/documentation/3.x.x/getting-started/introduction.html
https://strapi.io
You can check https://github.com/strapi/strapi/tree/master/docs
https://github.com/strapi/strapi its MIT

You can improve existing https://github.com/askcreative/saber-theme-vuepress That's what i expected to suggest 😂

[2019-05-01 17:49] egoist commented on #29
@ArchiveBase that's just a site which uses vuepress, won't help us 😅

[2019-05-01 17:53] egoist commented on #89
after generating a page, probably here:  https://github.com/egoist/saber/blob/38fe0a48b382854456a4b58c4dd253229bb17885/packages/saber/vue-renderer/lib/index.js#L279

[2019-05-01 18:02] ArchiveBase commented on #29
@egoist 😭Issue title "Port the default VuePress theme to Saber"  😭

[2019-05-01 18:04] egoist commented on #29
@ArchiveBase yes all the source code of the theme are available in github.com/vuejs/vuepress 😅

[2019-05-01 18:06] ArchiveBase commented on #29
@egoist I don't see  https://saber-theme-vuepress.netlify.com/about.html# much great. It's reason i suggest him @askcreative about https://strapi.io/documentation/3.x.x/getting-started/introduction.html while its MIT. You can see its nice.

[2019-05-01 18:08] egoist commented on #29
we know how vuepress's default theme look like 😅 that's a wip

[2019-05-01 18:09] ArchiveBase commented on #29
@egoist "all the source code of the theme are available in" i haven't explored more more about vue. 😭 just only said from outside.

[2019-05-01 18:39] diomed commented on #86
IConcur

`saber@next`

[2019-05-01 18:41] diomed opened #101 "Minimal Blog Concept theme for Saber"
I'd like to request theme based on this nice and simple pen concept:

https://codepen.io/diomed/pen/BGaJzJ

[2019-05-01 19:47] krmax44 commented on #70
:heavy_check_mark: Done: https://github.com/krmax44/saber-theme-tailsaw

Demo: https://saber-theme-tailsaw.netlify.com/

[2019-05-01 19:50] krmax44 opened #107 "bug: HierarchyRequestError"
Using `saber build`, I get this error (only sometimes though) when navigating around the site. I don't get it when using just the `saber` command:

[code]

Demo: https://saber-theme-tailsaw.netlify.com
Code: https://github.com/krmax44/saber-theme-tailsaw

[2019-05-01 19:52] diomed commented on #70
@krmax44 message text and submit button under contact section are not good.

[2019-05-01 20:04] krmax44 commented on #70
Yeah, looks like a PurgeCSS issue. All the required classes are applied, there's still some funkyness going on... :thinking:

[2019-05-01 20:07] egoist commented on #70
https://github.com/egoist/saber-plugin-critical I'm using this

[2019-05-01 20:14] diomed commented on #70
please put demo link in place for website.

[2019-05-01 20:22] krmax44 commented on #70
:top:

[2019-05-01 20:28] diomed commented on #70
I know there is , but for official preview through repo.

Also, I've noticed that sometimes when I click CONTACT after loading page,
it opens just blank page. dunno is it some bug or something. Minor annoyance,
anyway.

[2019-05-01 20:34] krmax44 opened #108 "feat: Change build output directory"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/egoist/saber/issues/108/badge.svg" />](https://issuehunt.io/r/egoist/saber/issues/108)

As most file managers hide folders starting with a period by default, putting the output directory in the hidden `.saber` folder might seem jarring to newcomers. I'd propose changing it to `dist/` with the option to change it.

I'm willing to work on this

[2019-05-01 20:36] krmax44 commented on #70
@diomed Yes, see #107

[2019-05-02 06:35] #70 closed

[2019-05-02 07:07] egoist commented on #108
I'm actually considering using `static/` as the [public folder](https://saber.land/docs/public-folder.html), and output generated files to `public/` folder instead. This way it's more friendly to Gatsby / Hexo / GitLab users.

[2019-05-02 07:09] egoist commented on #108
btw it's also nice to have a page describing Saber's folder structure like this: https://www.gatsbyjs.org/docs/gatsby-project-structure/

[2019-05-02 07:58] h404bi opened #127 "saber 0.4.8 doesn't load plugins' options"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Version

0.4.8

#### Steps to reproduce

repo: https://github.com/h404bi/www.h404bi.com

#### What is expected?

plugin-generate-feed: Generating feeds as expected.
plugin-query-posts: pagination as expected.

#### What is actually happening?

plugin-generate-feed: doesn't generate feeds.
plugin-query-posts: paginat

[2019-05-02 08:06] egoist commented on #107
https://github.com/krmax44/saber-theme-tailsaw/pull/1 Probably we should allow to run app in SSR in dev mode, useful for debugging.

[2019-05-02 08:18] krmax44 commented on #107
Used Firefox and Chromium, same error

[2019-05-02 08:23] egoist commented on #127
Please provide a minimal repo with only affected plugins, probably it's related to windows cause it's working fine on mac, btw you can use `--verbose` flag to see if the plugins get called.

[2019-05-02 08:24] MarchWorks commented on #107
I get the same error as @egoist

[2019-05-02 08:26] MarchWorks commented on #89
I added a `console.log` there but it doesn't get executed in dev mode

[2019-05-02 08:27] egoist commented on #89
yes, ssr is for production only, in dev it runs as a spa

[2019-05-02 08:31] egoist commented on #107
@MarchWorks does https://deploy-preview-1--saber-theme-tailsaw.netlify.com/ work for you now?

[2019-05-02 08:31] MarchWorks commented on #107
@egoist yes

[2019-05-02 08:32] MarchWorks commented on #89
https://github.com/egoist/saber/issues/107#issuecomment-488584989

should I await this or what?

[2019-05-02 08:38] egoist commented on #89
nope, that's not our top priority, and it will be an optional features.

[2019-05-02 09:27] MarchWorks commented on #89
so I have done
[code]
here https://github.com/egoist/saber/blob/38fe0a48b382854456a4b58c4dd253229bb17885/packages/saber/vue-renderer/lib/index.js#L279 which work fine in the build process for the dev mode I am not sure if this is the right place https://github.com/egoist/saber/blob/38fe0a48b382854456a4b58c4dd253229bb17885/packages/saber/vue-renderer/lib/index.js#L411

[2019-05-02 09:38] egoist commented on #89
we don't need this hook in dev mode

[2019-05-02 09:56] egoist opened #128 "Feature: Supporting TypeScript"
## Feature request

You should be able to:

- Use TypeScript in `<script>` block in Vue component
- Use `.ts` pages and import `.ts` files in app runtime
- Use `saber-config.ts` (maybe)
- Use `saber-node.ts` (maybe)

[2019-05-02 10:32] egoist opened #130 "Allow to generator to use templates from GitHub"
## Feature request

#### What problem does this feature solve?

Create a Saber app using custom template

#### What does the proposed API look like?

[code]

#### How should this be implemented in your opinion?

N/A

#### Are you willing to work on this yourself?

Yes.

[2019-05-02 12:07] #127 closed

[2019-05-02 12:18] #89 closed

[2019-05-02 13:03] krmax44 opened #132 "chore: Move Saber to an organization"
With a growing number of themes and plugins expected to be created, it'd be nice to have them all in one place alongside the main Saber repo. That's why I'd propose transferring Saber and all related repos to an Github organization.

[2019-05-02 14:04] egoist opened #136 "More tests"
Jest + coverage

[2019-05-02 14:09] MarchWorks commented on #71
How can I assign `routeComponent.amp` to `ssrContext.amp` in `entry-server.js ` I have been checking the `transition` but I can't tell the head from the feet

[2019-05-02 14:11] egoist commented on #132
I have https://github.com/saberland

Let's start by moving some themes and plugins there, if you want to join the organization please ping me on #general channel on https://chat.saber.land

[2019-05-02 15:29] krmax44 commented on #51
I'll work on this one :man_technologist:

[2019-05-02 15:46] MarchWorks commented on #71
A better question and simpler. How to get `routeComponent.amp` the rest isn't a problem

[2019-05-02 15:56] egoist commented on #71
you can use `router.getMatchedComponents`

[2019-05-02 16:41] MarchWorks commented on #71
Really sorry for the annoyance but is `routeComponent.amp` set automatically from page attributes or I have to set it somehow because `router.getMatchedComponents` return an array like the following and I can't see the desired value
[code]

[2019-05-02 17:11] MarchWorks commented on #87
When this get merged I will add Arabic and French to saber.land

[2019-05-02 17:11] egoist opened #138 "A plugin for local search"
## Feature request

#### What problem does this feature solve?

For searching in documentation sites / blogs.

#### What does the proposed API look like?

[code]

This plugin doesn't need to include a UI component, leaving that to users / theme authors.

#### How should this be implemented in your opinion?

Similar to https://github.com/christian-fei/Simple-Jekyll-Search

#### Are you willing to w

[2019-05-02 17:14] egoist commented on #87
Awesome, you can speak both languages? :D

[2019-05-02 17:16] MarchWorks commented on #87
Yes

[2019-05-03 07:48] egoist opened #141 "Creating a docker image for Saber"
Would be useful if you want to build/deploy Saber app on your own VPS.

[2019-05-03 10:07] #108 closed

[2019-05-03 10:54] MarchWorks commented on #71
what is wrong with this set method
[code]
I need it so that I can do
[code]

[2019-05-03 11:09] egoist commented on #132
Done.

[2019-05-03 11:09] #132 closed

[2019-05-03 12:28] egoist opened #144 "PWA plugin"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/egoist/saber/issues/144/badge.svg" />](https://issuehunt.io/r/egoist/saber/issues/144)

## Feature request

#### What problem does this feature solve?

Add PWA (progressive web app) support

#### What does the proposed API look like?

[code]

#### How should this be implemented in your opinion?

- Use [workbox](https://developers.google.com/

[2019-05-03 12:33] MarchWorks commented on #71
Shishou, in `entry-server.js`
[code]
in the plugin I am doing
[code]
how to inject obj

[2019-05-03 15:27] MarchWorks commented on #71
I ended up with the following in the plugin
[code]
PS: `exportedPage.content` is the `markup` from  https://github.com/saberland/saber/blob/9240d1f47fefc2a83fe0a0c1d7dc599f989bda3c/packages/saber/vue-renderer/lib/index.js#L310-L311 instead of `html`
and stupid stuff like the following because I don't know how to use the `text` method
[code]

[2019-05-03 16:00] MarchWorks commented on #144
If I am not mistaken the `beforeExportPage` hook is necessary too, to add
[code]

[2019-05-03 16:58] MarchWorks commented on #144
This one look interesting I will give it a try

[2019-05-03 17:41] egoist commented on #144
you can just prepend a file to the webpack entry, we can also use workbox-window to register service worker

[2019-05-03 18:37] MarchWorks commented on #144
what do you mean? webpack `entry-${type}.js` doesn't end up in the generated html pages at the end and `navigator.serviceWorker.register('/service-worker.js');` or
[code]
 should be called inside a html generated page.

[2019-05-03 18:48] krmax44 commented on #132
some aftermath trouble to deal with:

 1. checks for PRs don't work
 2. circleci badge in README is broke, probably has to do with 1
 3. npm page is kinda broken

[2019-05-04 12:28] #107 closed

[2019-05-04 13:25] krmax44 commented on #138
Hmm, especially with this in planning, I feel like `saber-plugin-search`, `saber-plugin-query-posts` and `saber-plugin-feed` have quite an overlap in their functionality. Maybe `saber-plugin-query-posts` should be redone to resemble more of a `saber-plugin-query-pages`, that could give you access to `api.pages` in an elegant and traffic-saving way. Then, `saber-plugin-search` would not be necessar

[2019-05-04 13:51] krmax44 opened #147 "feat: plugin for generating responsive images"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/egoist/saber/issues/147/badge.svg" />](https://issuehunt.io/r/egoist/saber/issues/147)

## Feature request

Plugin that generates responsive images and applies some magic image optimization with optional lazy-loading. Similar to what Gatsby does with `gatsby-image`.

#### What problem does this feature solve?

Slow load times when images are

[2019-05-04 14:51] krmax44 commented on #147
should I add this to the main saber packages or create it as a seperate package?

[2019-05-04 14:59] #87 closed

[2019-05-04 16:14] krmax44 commented on #147
Already working on this :)

[2019-05-04 16:46] krmax44 commented on #147
I'm not entirely sure whether this should be the new default `config-image.js` or an optional plugin. Thoughts? @egoist

[2019-05-04 17:29] egoist commented on #147
I prefer a plugin

[2019-05-07 12:56] #144 closed

[2019-05-07 15:33] #51 closed

[2019-05-07 15:46] egoist opened #151 "Website: Change the hash while scrolling"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/151)

Thanks to #145, we can also do this now:

<img width="336" alt="屏幕快照 2019-05-07 下午11 43 55" src="https://user-images.githubusercontent.com/8784712/57313343-ff253a00-7121-11e9-84f9-c1efcf002435.png">

- [ ] Show headings
- [ ] Detect scrollin

[2019-05-08 05:32] egoist commented on #44
I'm not entire sure about this now, maybe adding support for this is unnecessary since you can simply use a component directly like `<saber-toc />`

[2019-05-08 12:05] egoist opened #160 "Support saber config in theme directory"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/saberland/saber/issues/160/badge.svg" />](https://issuehunt.io/r/saberland/saber/issues/160)

## Feature request

#### What problem does this feature solve?

A theme should be able to pre-configure `siteConfig` `themeConfig` `plugins` etc.

#### What does the proposed API look like?

Just populate a saber config file in your theme directory.

[2019-05-08 15:44] MarchWorks opened #162 "i18n: support for vue pages"
## Feature request

#### What problem does this feature solve?
Translate vue pages like https://github.com/saberland/saber/blob/master/website/pages/index.vue
#### What does the proposed API look like?
N/A
#### How should this be implemented in your opinion?
N/A
#### Are you willing to work on this yourself?
PR Welcome

[2019-05-08 15:47] egoist commented on #162
What do you mean?

[2019-05-08 15:49] MarchWorks commented on #162
`Lang/index.vue` doesn't work

[2019-05-08 15:51] MarchWorks commented on #162
but I haven't tried it with the last version wait a minute

[2019-05-08 15:58] MarchWorks commented on #162
Working fine

[2019-05-08 15:58] #162 closed

[2019-05-08 15:58] egoist commented on #162
btw I think we should start translating the docs when Saber is more stable, the English docs are still far from good.

[2019-05-08 16:00] MarchWorks commented on #162
Agree

[2019-05-08 16:23] egoist opened #163 "Extract the theme from the website"
Extract the theme used by saber.land and publish it on npm.

[2019-05-08 18:56] MarchWorks commented on #44
Agree me too I don't fell like it's necessary at all, it should fall under the category of `saber-componants` repository ( Doesn't exist of course but it can in the future )

[2019-05-09 11:02] egoist opened #166 "Deprecate `page.attributes` and use `page` directly"
## Feature request

#### What problem does this feature solve?

Using `page.attributes` is kinda verbose, that's 15 letters 😅, it's also pretty confusing when you want to add new properties on the `page` object, sometimes we have `page.attributes.markdownHeadings` and sometimes we have `page.posts` 😅

#### How should this be implemented in your opinion?

Assign everything to `page` directly, of co

[2019-05-09 11:59] krmax44 commented on #22
![weow](https://user-images.githubusercontent.com/12673799/57451683-487ca300-7262-11e9-89ff-e7ad0a72b11c.png)

[2019-05-09 12:02] krmax44 commented on #166
If this gets implemented, a warning would be nice whenever `page.attributes` gets used. Maybe with the help of a getter or some sort of webpack/babel plugin

[2019-05-09 12:04] krmax44 commented on #163
I'll start working on this one.

[2019-05-09 12:16] krmax44 commented on #151
I'll implement this and #163 in one rush.

[2019-05-09 12:18] MarchWorks commented on #151
@krmax44 I am working on this the PR is ready soon

[2019-05-09 12:18] krmax44 commented on #151
Awesome! :+1:

[2019-05-09 12:22] egoist commented on #166
A getter should be enough I guess.

[2019-05-09 12:34] egoist commented on #151
@saberland/core are able to self-assign issues now.

[2019-05-09 12:58] krmax44 commented on #44
I think a `saber-components` repo, a section on the website, added as an examples folder or whatever would be a great resource for beginners.

[2019-05-09 13:17] krmax44 commented on #48
The anchor plugin now is the headings plugin, for which docs have been added recently: https://saber.land/docs/saber-config.html#headings

[2019-05-09 13:17] #48 closed

[2019-05-09 13:31] #80 closed

[2019-05-10 16:06] egoist commented on #166
Closing this.

I've updated the code to inject all new properties to `page` directly instead of `page.attributes`.

[2019-05-10 16:06] #166 closed

[2019-05-10 16:17] krmax44 commented on #166
Shouldn't we also then be using `page.assets` instead of `page.attributes.assets`? :thinking:

[2019-05-10 16:29] egoist commented on #166
It's probably fine to updating an existing attribute.

[2019-05-10 16:39] krmax44 opened #169 "bug: Frontmatter asset loading not working with injectAllPosts"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Webpack frontmatter asset loading fails with `saber-plugin-query-posts`.

#### Version

0.5.4, latest git master

#### Steps to reproduce

Create a post with at least one frontmatter asset and an `index.md` with `injectAllPosts` set to `true`. The build for the index page will fail, as the asset is imported relative to i

[2019-05-11 07:15] #169 closed

[2019-05-11 13:30] #147 closed

[2019-05-12 08:57] egoist opened #178 "feature: support line number in code blocks"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/saberland/saber/issues/178/badge.svg" />](https://issuehunt.io/r/saberland/saber/issues/178)

## Feature request

#### What problem does this feature solve?

Show line numbers in code blocks.

#### What does the proposed API look like?

Globally enabled:

[code]

Toggle line numbers per code block:

[code]

#### How should this be implemente

[2019-05-12 09:19] egoist commented on #151
What about showing the markdown headings here instead?

<img width="1868" alt="屏幕快照_2019-05-12_下午5_16_52" src="https://user-images.githubusercontent.com/8784712/57580259-e9c15e80-74d9-11e9-83a2-1be3c073abef.png">

[2019-05-12 09:24] krmax44 commented on #151
Hmm, most people are probably more familiar with it being included, as its used by most documentation sites.
![Bildschirmfoto von 2019-05-12 11-22-58](https://user-images.githubusercontent.com/12673799/57580320-528fe300-74a8-11e9-9b8f-a67a1517bd8e.png)

![Bildschirmfoto von 2019-05-12 11-23-54](https://user-images.githubusercontent.com/12673799/57580328-718e7500-74a8-11e9-9d0c-01984f862221.png)

[2019-05-12 11:32] MarchWorks commented on #151
Showing the toc in a different place than the sidebar will make the UI design quite messy precisly for small screen.

[2019-05-12 11:44] egoist commented on #151
Of course, we can move the toc to sidebar or somewhere else for small screens.

Actually, https://apollographql.com/docs and https://next.tailwindcss.com simply omit the toc on mobile devices. 😅

[2019-05-12 11:46] egoist commented on #151
And sites like https://reactjs.org and https://adonisjs.com display toc right above the page content:

<img width="875" alt="屏幕快照_2019-05-12_下午7_45_00" src="https://user-images.githubusercontent.com/8784712/57581752-8d1c6e80-74ee-11e9-9830-81ca9254f77b.png">

[2019-05-12 12:16] MarchWorks commented on #151
I like how https://apollographql.com/docs do it, if you agree tell me and I will implement it.

[2019-05-12 12:38] MarchWorks commented on #94
I keep getting this error most likely because of `vue-style-loader` but I can't find anywhere in the code where it's used so that I can disable it
[code]

[2019-05-12 13:58] MarchWorks commented on #94
I keep getting this error most likely because of `vue-style-loader` but I can't find anywhere in the code where it's used so that I can disable it

[code]

[2019-05-12 14:55] MarchWorks commented on #94
Isn't this already implemented the only part which isn't maybe is

[2019-05-12 16:07] MarchWorks commented on #94
can you tell me a project structure that will end up with `style-vendor.css` so that I test the changes that I done

[2019-05-12 16:44] MarchWorks commented on #94
this is the idea that I got now which is most likely false (I am sure that this isn't what you mean)
[code]

[2019-05-13 21:33] MarchWorks opened #182 "Run saber server on 3001 port if 3000 is being used"
## Feature request

#### What problem does this feature solve?
Running saber server whiteout passing a port argument while the port 3000 is being used break the app
#### What does the proposed API look like?
Run the server on the port 3001 automatically
#### How should this be implemented in your opinion?
N/A
#### Are you willing to work on this yourself?
YES

[2019-05-14 02:46] kidonng commented on #182
We already have `--port` option, this looks unnecessary somewhat.

[2019-05-14 04:43] krmax44 commented on #182
@kidonng but it's much more elegant if Saber just binds itself to an available port instead of crashing whenever 3000 is already used.

[2019-05-14 10:52] egoist opened #183 "Static Routes"
## Feature request

I'm not really sure about how to name this feature, use *Static Routes* for now. (Need a new name, since this is confusing af)

Basically it allows you to generate a static page directly. Let's say we populate such pages in `routes/` folder, and we have `routes/rss.xml.js`:

[code]

This file then gets mapped to `/rss.xml` and responses with `xmlString` when you visit the page.

[2019-05-14 13:18] kidonng commented on #182
Running multiple dev server is rare, it's common to show a message notifying the port is taken. Though I agree Saber shouldn't crash 😂

[2019-05-14 13:41] krmax44 commented on #183
Maybe "Functional Routes" or "Manual Routes"?

[2019-05-16 22:14] MarchWorks commented on #72
@egoist I have done some draft work here. the only missing thing is the babel transformer so I do directly `import allTagNames from '#cache/data.js?name=allTagNames'` for now  but the building stop at
`client: 23.56% building 113/114 modules 1 active ...s\query\my-site\.saber\data.js?name=allTagNames` without an error. should  I make a PR so that you check the code

[2019-05-18 13:36] krmax44 opened #191 "Lazy Load Pagination"
## Feature request

Currently, pagination for `saber-plugin-query-posts` is done by creating multiple static pages, each with different posts. It is not possible to only have one blog post page that loads more posts when you scroll to the bottom (or click a button, whatever).

#### What does the proposed API look like?

[code]

#### How should this be implemented in your opinion?

By generating pa

[2019-05-19 12:31] egoist commented on #183
#72 won't be needed if we have this feature instead.

[2019-05-19 12:33] egoist commented on #191
Related to #183

[2019-05-19 17:50] krmax44 opened #196 "chore: Replace vue-lazyload with a custom library"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/196)

## Feature request

Replace `vue-lazyload` with a custom library. Related #197

#### What problem does this feature solve?

`vue-lazyload` isn't properly maintained and is missing some features like events plus it has a couple of weird bugs

[2019-05-19 19:05] MarchWorks commented on #72
I have done `console.log(result)` before `return `export default ${devalue(result)}`` and it show the exported value `['foo', 'bar']`

[2019-05-20 06:12] egoist commented on #196
I guess it can be a separate library so that other Vue projects can use it as well

[2019-05-20 15:41] kidonng opened #199 "Line highlighting conflict with `markdown-it-attrs`"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Saber use the same syntax (curly brackets `{}`) as `markdown-it-attrs` use for `highlightLines` function, thus causing a confict which make pages containing highlight lines can't render.

#### Version

0.6.2

#### Steps to reproduce

Install `markdown-it-attrs` and enable it in Saber config, then write code block using `

[2019-05-21 07:11] egoist commented on #199
Maybe try https://github.com/rstacruz/markdown-it-decorate instead?

[2019-05-21 07:50] h404bi commented on #199
Though the syntax of markdown-it-decorate looks more reliable, but the package is too old and lack of maintance.

[2019-05-21 08:04] egoist commented on #199
A lot of activity is not always a sign of health, a well-maintained project will require far less activity, I went through its issue tracker and there're few bug reports.

With that being said, probably we should provide an alternative syntax for enabling line highlighting, for example:

[code]

[2019-05-21 08:15] egoist commented on #199
There's a workaround actually: https://github.com/arve0/markdown-it-attrs#custom-delimiters

[code]

[2019-05-21 08:15] egoist commented on #199
There's a workaround actually: https://github.com/arve0/markdown-it-attrs#custom-delimiters

[code]

[2019-05-22 02:10] kidonng commented on #199
Vote 👍

Thanks for mentioning custom delimiters, for now I'll just use `[]` instead.

[2019-05-22 02:10] #199 closed

[2019-05-22 06:13] h404bi opened #200 "Deprecate saber-plugin-generate-feed on npm"
[saber-plugin-generate-feed](https://www.npmjs.com/package/saber-plugin-generate-feed).

FYI:

[2019-05-23 00:11] MarchWorks commented on #72
@egoist one question. should `import { a, b } from 'moduleName'` output
[code]

[2019-05-24 13:22] spekulatius opened #203 "Links aren't working the same in blog post as in page"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I'm building a Saber site and noticed a difference between the links in the regular page templates vs. the blog post template:

In the regular pages links like this one:

![image](https://user-images.githubusercontent.com/8433587/58328491-6c440980-7e5c-11e9-9186-2ea04c1c3b01.png)

work without any issues. 👍️

If I copy t

[2019-05-24 13:30] krmax44 commented on #203
If you change it to `./_posts/index.md`, does it work then? Also it appears that in the Git repo, the folder architecture is `_posts`, rather than `posts/_posts`.

[2019-05-24 13:37] kidonng commented on #203
[code]

[2019-05-24 13:55] egoist commented on #203
The link in your `_posts/post2.md` should be: `../index.md`

[2019-05-24 14:03] egoist commented on #203
i.e. it's resolved from current file instead of `pages/` folder.

[2019-05-24 14:30] egoist opened #204 "Support rendering the content of a specific page to static HTML string"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/204)

## Feature request

#### What problem does this feature solve?

Currently `saber-plugin-feed` uses raw content in the generated feed:

https://github.com/saberland/saber/blob/7e32a24e45ea1559f97fee9c53a4ff702af13420/packages/saber-plugin-fe

[2019-05-24 14:40] kidonng opened #205 "Convert relative links to permalinks didn't work"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#25 didn't work on Windows 😢.

#### Version

0.6.3

#### Steps to reproduce

Run Saber in [the repo](https://github.com/spekulatius/saber-blog-starter) from #203 (links [fixed](https://github.com/saberland/saber/issues/203#issuecomment-495639774)).

#### What is expected?

Links coverted successfully.

#### What is actua

[2019-05-24 14:44] egoist commented on #205
Probably we need to convert back slashes to slashes here: https://github.com/saberland/saber/blob/7e32a24e45ea1559f97fee9c53a4ff702af13420/packages/saber/vue-renderer/app/create-app.js#L115

[2019-05-24 15:06] kidonng commented on #205
Didn't helped. But thanks for the tip, I found the cause, hardcoded `/` here (on Windows it's `\`):
https://github.com/saberland/saber/blob/e596812f21aefc8b0206883f61af257bfa51b5a4/packages/saber/lib/markdown/link-plugin.js#L33

[2019-05-24 15:20] egoist commented on #205
welp, let's slash-ify `absolutePath` then.

[2019-05-24 17:15] egoist opened #206 "Why & how did you choose Saber?"
I would like to hear from the community your opinion about Saber and the way you ended up choosing it.

Please answer the following questions:

## 1. Why do you like Saber?

E.g. what are the features that you appreciate the most, why you prefer it over other projects, why would you recommend it to someone else, etc..

## 2. Where did you find Saber?

E.g. where did you hear about Saber for the fi

[2019-05-24 17:19] krmax44 commented on #206
1. It has all the features I needed compared to other Vue.js static site gens. Gatsby is cool but too complicated for what I wanted to achieve plus I'd have to learn an entire stack. Nuxt is clumsy when it comes to blogs and has poor plugin support, Gridsome is lacking fully featured page transitions and I'm not a fan of GraphQL when it comes to simple sites like blogs. VuePress' blog support is i

[2019-05-24 20:42] Manu1400 commented on #88
Can you assign this issue to me ? (WIP)

[2019-05-24 21:10] MarchWorks commented on #88
@Manu1400  your comment is sufficient

[2019-05-25 01:20] kidonng commented on #206
Better support for blog is what Saber appeals to me most among Vue-powered static site generators, since I'm familiar with Vue 🤗

[2019-05-25 01:34] h404bi commented on #206
Interesting discussion.

Actually, I've written something about why I choose Saber - https://www.h404bi.com/blog/2019/04/recent-changes-of-my-site (in Chinese). But I'm glad to talk about it again in English.

I've stuck in Hexo for several years since I started to use the static-site generator. The technology is changing fast, especially the ❤❤❤❤ing Front-End domain. I need to push my stuff into

[2019-05-25 01:40] egoist commented on #206
@h404bi I mean how did you know Saber the framework not the character 😂

[2019-05-25 01:46] h404bi commented on #206
@egoist I did that on purpose. You know that. (Okay, I knew Saber from Peco)

[2019-05-25 02:09] kidonng commented on #205
When `absolutePath` includes `env.pagesDir`, it is relative link, am I correct? I created a PR to remove the slash.

[2019-05-25 02:26] #205 closed

[2019-05-25 05:49] spekulatius commented on #203
Ah, okay. This explains this. I thought the path would be starting off from the `pages/` folder 👍️

Thanks for jumping in and replying :)

[2019-05-25 05:49] #203 closed

[2019-05-25 16:55] #182 closed

[2019-05-26 04:40] egoist commented on #160
This is actually already possible by using `saber-node.js` in the theme directory:

[code]

[2019-05-26 18:58] krmax44 commented on #196
@egoist Should it still go into the monorepo or be a seperate repo?

[2019-05-26 19:01] egoist commented on #196
A separate one.

Max <notifications@github.com> 于 2019年5月27日周一 上午2:58写道：

[2019-05-27 05:35] kidonng opened #213 "Scroll to anchor in `router.scrollBehavior` doesn't work"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/213)

- [x] I confirm that this is an issue rather than a question.

## Bug report

https://github.com/saberland/saber/blob/61992cbcff3ed552aa90e6bff1cf320e1d35da82/packages/saber/vue-renderer/app/router.js#L68-L87

The code attempts to scroll to

[2019-05-29 04:03] meteorlxy opened #219 "[Bug Report] filterPlugins hook is not available in node API"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Version

saber@0.6.5

#### Steps to reproduce

https://github.com/saberland/saber/blob/a7e2d0851aae32fc66d9184ab83584144828cb2b/packages/saber/lib/plugins/extend-node-api.js#L26-L60

1. In saber `beforePlugins` hook, call `beforePlugins` of node API
2. In saber `filterPlugins` hook, do nothing
3. In saber `afterPlug

[2019-05-29 08:16] #219 closed

[2019-05-29 11:43] #178 closed

[2019-05-29 13:01] krmax44 commented on #178
@lubien Don't forget to grab your bounty at Issuehunt :smile:

[2019-05-29 13:04] lubien commented on #178
@krmax44 Oh, yea. I think it has some delay time because it's pending so I'm just waiting.

[2019-05-29 14:04] #213 closed

[2019-05-29 15:19] diomed opened #222 "medium like lightbox"
## Feature request

#### What problem does this feature solve?
Would be nice if we had plugin for nice medium like display of images

#### What does the proposed API look like?
https://github.com/francoischalifour/medium-zoom

#### How should this be implemented in your opinion?
Smoothly

#### Are you willing to work on this yourself?
No

[2019-05-29 15:44] kidonng commented on #213
Scroll to `id` containing URI encoded characters now works but only when clicking heading anchor 😢

- [Working](https://kidonng.me/share#rsshub)
- [Not working](https://kidonng.me/share#%E3%81%AA%E3%82%82%E3%82%8A-%E4%BD%9C%E5%93%81%E9%9B%86)

![image](https://user-images.githubusercontent.com/44045911/58570463-9e91a480-826a-11e9-9490-5768bc4e01ec.png)

(First two triggered by clicking the heading

[2019-05-29 15:57] kidonng commented on #222
I'm using the library too 😄
It's really easy to create a plugin, just take [saber-plugin-google-analytics](https://github.com/saberland/saber/tree/master/packages/saber-plugin-google-analytics) as an example:

`index.js`

[code]

`saber-browser.js`

[code]

[2019-05-29 16:02] diomed commented on #222
@kidonng could you publish this on npm?

[2019-05-29 16:13] egoist commented on #213
@kidonng fixed in 0.6.7

[2019-05-29 16:18] kidonng commented on #222
Untested. https://www.npmjs.com/package/saber-plugin-medium-zoom

[2019-05-29 16:25] diomed commented on #222
hmm... algolia can't find it on npm :P

[2019-05-30 17:53] diomed commented on #222
algolia still can't find it on npm :P

[2019-05-30 18:00] #222 closed

[2019-05-31 10:26] kidonng opened #224 "Link attributes get overwritten"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/224)

- [x] I confirm that this is an issue rather than a question.

## Bug report

Some link attributes can't be modified via markdown-it plugins like [markdown-it-attrs](https://github.com/arve0/markdown-it-attrs), such as `target` and `rel`, b

[2019-06-07 10:28] spekulatius opened #246 "Internal links RSS feed remain <saber-link>"
- [x] I confirm that this is an issue rather than a question.

## Bug report

It appears as internal links in feeds aren't compiled to a-tags.

See https://saber-blog-starter.netlify.com/atom.xml

#### Version

Saber 0.6.7

info Direct dependencies
├─ prismjs@1.16.0
├─ saber-highlight-css@0.0.3
├─ saber-plugin-feed@0.3.2
├─ saber-plugin-google-analytics@0.0.6
├─ saber-plugin-prismjs@0.2.1
├─ saber

[2019-06-07 10:53] egoist commented on #246
Waiting for https://github.com/saberland/saber/issues/204 to be implemented

[2019-06-07 13:17] spekulatius commented on #246
Ah, okay. I wasn't aware of the open issue.

[2019-06-08 17:56] krmax44 opened #247 "Add theme eject command"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24105%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/247)

## Feature request

Add `saber eject`, similar to `vuepress eject` to copy over the currently used theme from `node_modules` or from Github (perhaps as a submodule) to `theme` and change the config file accordingly.

#### What problem does

[2019-06-09 07:49] egoist commented on #247
Sounds like a useful feature 👌🏻

[2019-06-09 09:48] MarchWorks commented on #52
I think that this should be set by default

[2019-06-09 10:23] egoist commented on #52
@MarchWorks That's the goal but it might be buggy, that's why I'm collecting feedback 😄

[2019-06-09 10:34] MarchWorks commented on #52
@egoist but we haven't got any feedback yet so maybe forcing the user to use it may be the right thing to do. if any issue was reported after that we can tell the user to disable the lazy mode until its fixed

[2019-06-09 10:47] krmax44 commented on #52
@MarchWorks unsure about that, it still introduces some weirdity, especially when debugging things that incorporate hot reloading

Also, I think lazy building should also be considered for production with `saber build` which might be beneficial for huge sites with thousands of pages, so that only altered pages get built, reducing computational time.

[2019-06-09 10:48] egoist commented on #52
I actually forgot to report this bug: in `--lazy` mode, hash in a link like this doesn't work:

<img width="367" alt="屏幕快照_2019-06-09_下午6_44_38" src="https://user-images.githubusercontent.com/8784712/59158024-b678ec00-8ae6-11e9-86b2-da37f7dc7175.png">

It will be redirected to `/docs/saber-config.html` instead of `/docs/saber-config.html#options`.

[2019-06-09 10:50] egoist opened #249 "Hash in links doesn't work in --lazy mode"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/249)

- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Version

v0.6.8

#### Details

<img width="367" alt="屏幕快照_2019-06-09_下午6_44_38" src="https://user-images.githubusercontent.com/8784712/59158024-b678ec00-8ae6

[2019-06-09 10:55] egoist commented on #52
The slowest part of `saber build` is the webpack build process, there's room for improvement, e.g. we can use `cache-loader` & `thread-loader`

[2019-06-09 10:59] MarchWorks commented on #52
@egoist do you know how Next.js building works? because it's really fast

[2019-06-09 11:03] egoist commented on #52
@MarchWorks in prod or dev? in dev mode it's similar to our `--lazy` mode, it also uses https://www.npmjs.com/package/autodll-webpack-plugin and has cache enabled for babel-loader.

[2019-06-09 11:10] MarchWorks commented on #52
@egoist in prod.

PS: seems that AutoDllPlugin author recommend the use of [hard-source-webpack-plugin](https://github.com/mzgoddard/hard-source-webpack-plugin)

[2019-06-09 11:18] MarchWorks commented on #52
I will start playing around with `--lazy` mode and any issue I find

[2019-06-09 11:21] egoist opened #250 "Some bugs in the new website"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/250)

## The width of the second column should be fixed

![bug1](https://user-images.githubusercontent.com/8784712/59158320-399c4100-8aeb-11e9-95ad-a91314789dc7.gif)

## [Content overflow in the horizontal direction](https://saber.land/docs/saber

[2019-06-09 11:44] MarchWorks commented on #52
@egoist you wrote

which mean saber is using it too but I can't find the package in package.json and to make sure I searched for it in yarn.lock too but haven't found it

[2019-06-09 11:53] egoist commented on #52
I mean Next.js is using it 😄

March Works <notifications@github.com> 于 2019年6月9日周日 下午7:44写道：

[2019-06-09 11:58] MarchWorks commented on #52
@egoist I realized that that's why I deleted my comment 😁

[2019-06-09 17:40] MarchWorks commented on #249
For some reason in the initial load `to.hash` end up an empty string here https://github.com/saberland/saber/blob/9caaf74eacaac1c9548ebd08170034d33db1c22f/packages/saber/vue-renderer/app/router.js#L38

so maybe something happen here
https://github.com/saberland/saber/blob/9caaf74eacaac1c9548ebd08170034d33db1c22f/packages/saber/vue-renderer/app/router.js#L96-L99

[2019-06-10 08:35] egoist opened #252 "Add getWebpackConfig hook and document how to use custom webpack config"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/252)

## Feature request

#### What problem does this feature solve?

You can directly modify webpack config in this hook. Easier than current `chainWebpack` hook.

#### What does the proposed API look like?

In saber-node.js:

[code]

---

<deta

[2019-06-10 13:54] kidonng commented on #250
FYI:

- First issue doesn't exist on Firefox (68.0b8)
- For the second issue, I'm using 150% system scale (and many other websites have overflow issue too 😂)

[2019-06-12 17:36] Morgul opened #261 "`publicUrl` doesn't behave as expected."
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/261)

- [x] I confirm that this is an issue rather than a question.

## Bug report

Setting `build.publicUrl` seems to correctly change the expected path for importing out of `_saber`, but the generated site still thinks that 'home' is `/` not `/p

[2019-06-12 21:08] Morgul opened #262 "Documentation for `injectMarkdownHeadings` is wrong"
- [x] I confirm that this is an issue rather than a question.

## Bug report

The documentation for where the markdown headings are stored states that they are available at `page.attributes.markdownHeadings`

![image](https://user-images.githubusercontent.com/770655/59386280-df3df300-8d2b-11e9-8112-ba48af4c99cc.png)

However, if we check the [unit test][unit], we see it's `page.markdownHeaders`

[

[2019-06-13 04:15] kidonng commented on #262
The headings do be available at `page.attributes.markdownHeadings`, I even made a [table of contents component](https://github.com/kidonng/the-story/blob/d335f341ed3f52b748df9f1a1fb6c8fbc1a9e1f8/packages/saber-theme-aimer/components/Contents.vue#L15) using that.
You can clone the site and add `toc: true` to any post and see if table of contents is available.

[2019-06-13 13:48] #262 closed

[2019-06-13 13:56] egoist commented on #262
@kidonng it looks like you're using `page.markdownHeadings` 😅

Yes the doc is wrong, it should be `page.markdownHeadings` and it's fixed now.

[2019-06-13 14:09] Morgul commented on #262
@egoist Thanks for the fast turn-around! I was hoping the current location was the intended one; I was a little worried about collisions if they were really being stored under `page.attributes`.

[2019-06-13 14:38] kidonng commented on #262
😂 Sorry maybe I mistook it for other things

[2019-06-13 17:43] Morgul commented on #206
I'll jump into the mix.

1. For me, the simplicity was what attracted me immediately to the framework. I could start with just a markdown file in a `pages` folder, point saber at it, and I've got a static site. That super low bar for entry is a huge win. Then, when I wanted to do more exciting stuff (like code 90% of the smarts for a site into the theme for terrible reasons), having basically no r

[2019-06-14 08:59] #261 closed

[2019-06-14 09:05] #224 closed

[2019-06-14 09:53] kidonng commented on #204
Maybe only content related components (e.g. `<saber-link>` and `<saber-image>`) need to be converted.

[2019-06-14 09:59] egoist opened #265 "webpack build gets stuck when using certain markdown syntax"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Version

v0.6.7

#### Steps to reproduce

Download [this](https://github.com/egoist-bot/random-bullshits/raw/master/saber-bug-mvp.zip)

#### What is expected?

webpack build succeeds.

#### What is actually happening?

webpack build gets stuck.

#### Other relevant information

- Result of running `saber -v`:
- Brow

[2019-06-14 10:09] egoist commented on #204
@kidonng there's no need to make it that complex, what is *dynamic content*? the result is just a static string.

[2019-06-14 10:17] kidonng commented on #204
Something like https://vuejs.org/v2/guide/components.html#Dynamic-Components, or for example (uses `markdown-it-container` and `markdown-it-attrs`):

[code]

[2019-06-14 20:25] MarchWorks commented on #265
[code]
It's not that it get stuck it just take `5m 9.3s` 🤣

[2019-06-15 10:52] MarchWorks commented on #265
I guess that there is a promise that resolve after a timeout

[2019-06-15 13:45] MarchWorks commented on #265
After tracking down this I ended up here
https://github.com/vuejs/component-compiler-utils/blob/442d7b221d2075b2b53d8f6d4e1a4b4e6ab911e3/lib/compileTemplate.ts#L167-L178

that's why it takes so much time in dev mode.
I don't know if this should be reported to `prettier` or not

[2019-06-16 10:22] MarchWorks commented on #265
The issue https://github.com/prettier/prettier/issues/4784

[2019-06-16 10:30] MarchWorks commented on #265
A work around is to set `prettify: false` in `vue-loader` options

[2019-06-17 13:01] lubien commented on #265
https://github.com/prettier/prettier/issues/4784#issuecomment-502602463

[2019-06-17 13:27] #204 closed

[2019-06-17 14:09] MarchWorks opened #269 "Check if push or replace in scrollBehavior"
## Feature request

#### What problem does this feature solve?
The ability to customize the scrollBehavior in case of replacing the hash (scrolling while changing the hash with `this.$router.replace`)

There is an issue for something like this in the official vue-router repo  but it's taking eternity
#### What does the proposed API look like?
`scrollBehavior(to, from, savedPosition, isPush)`
####

[2019-06-17 15:54] lubien commented on #249
I might have solved it. I'll make a PR soon.

[2019-06-17 21:52] lubien commented on #249
## Steps to reproduce

1. Run saber in `--lazy mode` (see below).
2. Go to some place that links to another page with fragment identifiers (aka Hash in URL) such as [markdown-features.html#configure-markdown-it](http://localhost:3000/docs/markdown-features.html#configure-markdown-it).
3. Refresh page (more on that later).
4. Click on some link with fragment identifiers such as "markdown.options" o

[2019-06-18 01:04] lubien commented on #130
Should we filter for templates related to saber or anything goes?

[2019-06-18 05:13] egoist commented on #130
I'm working on a new https://github.com/saojs/kopy

Let's get back to implement this later.

[2019-06-18 05:15] egoist commented on #249
@lubien this website is already running in lazy mode 😄

[2019-06-18 11:25] lubien commented on #130
Sure :D

[2019-06-18 11:31] lubien commented on #249
![neFoYc0](https://user-images.githubusercontent.com/9121359/59678659-63b4c980-91a3-11e9-88a0-49260a88bcd9.gif)

[2019-06-19 12:33] MarchWorks commented on #269
@saberland/core what do you think?

[2019-06-21 13:23] #250 closed

[2019-06-21 14:24] #249 closed

[2019-06-21 17:53] MarchWorks commented on #269
@egoist I would like your opinion on this so that I can start working on it

[2019-06-22 02:16] Ir1d opened #277 "saber-link doesn't close when code is inside"
- [x] I confirm that this is an issue rather than a question.

## Bug report

[code]

I guess it has something to do with [here](https://github.com/saberland/saber/blob/master/packages/saber/lib/markdown/link-plugin.js#L48) , not so familiar yet so I can't open a PR.

#### Version

[code]

#### Steps to reproduce

#### What is expected?

[code]

#### What is actually happening?

[code]

#### Other

[2019-06-22 02:41] lubien commented on #277
You're right. I think I got this.

[2019-06-22 05:33] #277 closed

[2019-06-22 06:25] egoist commented on #277
Fixed in `saber@0.6.10`

[2019-06-24 16:19] egoist opened #284 "Website: add Algolia search"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/284)

#### How should this be implemented in your opinion?

1. apply https://community.algolia.com/docsearch
2. use https://yarnpkg.com/package/vue-instantsearch

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $

[2019-06-24 16:54] MarchWorks commented on #284
Never used algolia but maybe docsearch is stronger

[2019-06-24 16:58] egoist commented on #284
@MarchWorks docsearch is what I meant, it is powered by Algolia Search under the hood if I'm not mistaken.

[2019-06-24 16:58] egoist commented on #284
@MarchWorks docsearch is what I meant, it is powered by Algolia Search under the hood if I'm not mistaken.

[2019-06-24 17:08] MarchWorks commented on #284
@egoist sorry my sentence is very confusing I mean maybe it's better than vue-instantsearch

[2019-06-24 18:28] MarchWorks opened #287 "CSS optimization"
## Feature request

#### How should this be implemented in your opinion?
A plugin or maybe in the core

PS: This will be good for complicated themes

[2019-06-25 08:31] egoist commented on #72
Maybe close this in favor of #183

[2019-06-25 08:34] egoist commented on #287
what exactly needs to be optimized?

[2019-06-25 09:41] MarchWorks commented on #287
@egoist read the introduction in readme here https://github.com/css/csso
it's not something necessary that's why I added the discussion label

[2019-06-25 09:44] egoist commented on #287
I'm not sure how is that different from cssnano which is what we currently use.

[2019-06-25 09:48] MarchWorks commented on #287
Absolutely it's the same I should have checked package.json first. Closing this

[2019-06-25 09:48] #287 closed

[2019-06-25 09:56] MarchWorks commented on #183
shouldn't it be like this
[code]

[2019-06-25 10:19] MarchWorks commented on #72
@egoist Yes #183 seems much better if I am not mistaken you can simply do
[code]
inside `./functions/sharedData.js`
then requesting the data with
[code]

[2019-06-25 10:24] egoist commented on #72
@MarchWorks should be `embedFunction('/sharedData')` 😄

#183 will also make #191 possible.

[2019-06-25 10:30] MarchWorks commented on #72
@egoist It's absolutely great just need to be implemented  🎉

[2019-06-25 10:39] MarchWorks commented on #136
I would like to work on this but I don't know what should be tested in saber for coverage will this do the job https://coveralls.io ?

[2019-06-25 12:16] MarchWorks commented on #44
Closing this because it's absolutely unnecessary now

[2019-06-25 12:16] #44 closed

[2019-06-25 13:18] galvez commented on #183
In _NuxtPress_ (currently in development), I did a generic abstraction of this.

Every source is identified by a full path. For every source, the engine automatically does a GET request to `/api/source/{uri}`.

If you don't provide your own API handlers, it will perform static `fetch()` to the distribution.

A source is a JSON with `{ body, type }`. Different types can be used to trigger different

[2019-06-25 14:57] krmax44 commented on #191
moved to #183

[2019-06-25 16:35] MarchWorks opened #292 "Website: Setup dark mode"

[2019-06-25 17:27] MarchWorks commented on #136
@egoist can you integrate coveralls it needs your permission

[2019-06-27 14:24] Ir1d commented on #151
btw, in mkdocs, tocs are shown in right hand side too (https://squidfunk.github.io/mkdocs-material/

[2019-06-28 11:53] #284 closed

[2019-07-01 13:26] egoist opened #298 "Add --inspect-webpack flag"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/298)

## Feature request

#### What problem does this feature solve?

Help you understand what's the underlying webpack config being used.

#### What does the proposed API look like?

You can run `saber` or `saber build` with the `--inspect-webpa

[2019-07-02 07:12] #252 closed

[2019-07-02 07:49] egoist commented on #292
Maybe we can implement this using [`mix-blend-mode`](https://dev.wgao19.cc/2019-05-04__sun-moon-blending-mode/), not our priority though 😄

[2019-07-02 08:07] egoist opened #301 "Allow dev mode to use server rendering"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/301)

## Feature request

#### What problem does this feature solve?

Currently, `saber` runs your app in SPA mode, i.e. no server rendering, but the app produced by `saber build` will run in SSR mode (initial HTML is generated at build time).

T

[2019-07-02 12:35] #298 closed

[2019-07-02 12:38] #301 closed

[2019-07-15 11:43] egoist opened #332 "Refactor the page interface"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/332)

https://saber.land/docs/page-interface.html

We should not reuse the `page.attributes` object, i.e. setting a new `page.permalink` property instead of overriding `page.attributes.permalink`

Currently the behavior is inconsistent, sometimes

[2019-07-16 11:11] egoist commented on #151
@MarchWorks Are you still working one this?

[2019-07-16 12:18] MarchWorks commented on #151
@egoist I will make a PR for it now

[2019-07-16 15:04] MarchWorks commented on #269
Closing this because it doesn't seems to be necessary

[2019-07-16 15:04] #269 closed

[2019-07-19 13:43] #151 closed

[2019-07-20 14:25] egoist opened #343 "Add a plugin to proxy API requests"
## Feature request

https://facebook.github.io/create-react-app/docs/proxying-api-requests-in-development

[2019-07-20 16:18] saltysugar commented on #332
Hi, can I work on this? I’ve used Saber for a few weeks and really like it.

[2019-07-20 16:32] egoist commented on #332
Sure, if having any questions, feel free to ask.

saltysugar <notifications@github.com> 于 2019年7月21日周日 上午12:18写道：

[2019-07-21 16:18] egoist commented on #332
Hmm I'm thinking about making this more similar to Jekyll:

- https://jekyllrb.com/docs/front-matter/
- https://jekyllrb.com/docs/variables/

The `page` variable in Jekyll is simply page specific information + front matter, i.e. custom variables set via the front matter will be available on `page`.

[2019-07-25 08:42] h404bi commented on #246
The issue is fixed by #268 and could be closed.

[2019-07-25 08:44] #35 closed

[2019-07-25 09:45] #246 closed

[2019-07-25 11:53] #332 closed

[2019-07-25 12:06] MarchWorks commented on #33
@egoist why this one isn't done yet?

[2019-07-27 14:21] saltysugar opened #350 "Feature request: disable service worker"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/350)

## Feature request

#### What problem does this feature solve?

I was using saber-plugin-pwa but now I no longer need the PWA feature.

#### What does the proposed API look like?

[code]

#### How should this be implemented in your opinion?

[2019-07-27 14:52] krmax44 commented on #350
Maybe the current service worker could be changed so that it removes itself when an update is applied without `saber-plugin-pwa`.

[2019-07-29 13:09] MarchWorks commented on #292
using this https://github.com/egoist/styled-vue will make it easier

[2019-08-06 07:25] Kelier commented on #350
Loop over those registrations and all the registration object's unregister function?

[code]

[2019-08-08 19:33] krmax44 commented on #196
Superseeded by #356

[2019-08-08 19:33] #196 closed

[2019-08-15 03:35] Morgul opened #360 "Cannot use scope package for theme."
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/360)

- [x] I confirm that this is an issue rather than a question.

## Bug report

You can't use a scoped package as a theme. If you try to set one, you get the following error:

[code]

#### Version

v0.7.0

#### Steps to reproduce

Easiest way

[2019-08-18 17:11] arshadkazmi42 commented on #22
Is this still open, I can take this up

[2019-08-18 18:14] ohiosveryown opened #367 "Frontmatter asset in prevPost not loading"
In _saber-node.js_ I have (title, date, architect and permalink all work correctly – when I add first_img, I get an error):
<img width="446" alt="01" src="https://user-images.githubusercontent.com/12748054/63228480-84a89380-c1c1-11e9-802a-31fd183520d5.png">

In the Vue file querying the posts, I have:
<img width="568" alt="02" src="https://user-images.githubusercontent.com/12748054/63228510-e2d576

[2019-08-18 20:16] egoist commented on #22
@arshadkazmi42 sure.

[2019-08-18 20:28] egoist commented on #367
According to your `saber-node.js`, you should use `page.prevPost.first_img` instead of `page.prevPost.assets.first_img` 🤔

[2019-08-19 03:51] ohiosveryown commented on #367
Knew it was going to be something silly like that 🙃 – thanks for feedback.

[2019-08-19 03:51] #367 closed

[2019-08-19 15:17] #247 closed

[2019-08-19 17:20] arshadkazmi42 commented on #22
![saber](https://user-images.githubusercontent.com/4654382/63285598-b27dfd00-c2d3-11e9-9ca1-52a2dd6f04ee.png)

my first take on this. Still thinking about colors and trying different swords.
Any inputs?

[2019-08-19 17:38] arshadkazmi42 commented on #22
![saber2](https://user-images.githubusercontent.com/4654382/63286723-494bb900-c2d6-11e9-8ed0-84e94814f69e.png)
![saber3](https://user-images.githubusercontent.com/4654382/63286724-494bb900-c2d6-11e9-94da-ceaa9809aa7e.png)

Two more variants.
Thoughts? Which one looks better?

[2019-08-20 08:52] #360 closed

[2019-08-20 09:22] #350 closed

[2019-08-20 12:57] egoist commented on #22
@arshadkazmi42 I like the whole idea but can you try some different looks of the sword? 😄 Not a fan of the flipped `B` either, not sure what others think 🤔

[2019-08-22 15:30] egoist commented on #200
Done.

[2019-08-22 15:30] #200 closed

[2019-08-23 14:45] egoist commented on #191
It's probably better to use `saber-node.js` for this:

1. In `onCreatePages` hook, you can manually generate files `/pages/1.json`, `/pages/2.json` etc
2. Use `fetch` in your app to request `/pages/${page}.json`.

[2019-08-26 18:59] arshadkazmi42 commented on #22
Gave another try to this

<img width="733" alt="Screen Shot 2019-08-27 at 12 28 45 AM" src="https://user-images.githubusercontent.com/4654382/63715615-b83e8a00-c861-11e9-9eb8-dbe7661869eb.png">

any thoughts inputs on this?

[2019-08-26 19:14] krmax44 commented on #22
That one I like, except for the shinyness and maybe the font.

[2019-08-26 19:36] arshadkazmi42 commented on #22
<img width="725" alt="Screen Shot 2019-08-27 at 1 03 48 AM" src="https://user-images.githubusercontent.com/4654382/63717872-dc509a00-c866-11e9-8f1d-c71090da259e.png">
<img width="763" alt="Screen Shot 2019-08-27 at 1 04 18 AM" src="https://user-images.githubusercontent.com/4654382/63717873-dc509a00-c866-11e9-9bae-34343b5b2471.png">
<img width="754" alt="Screen Shot 2019-08-27 at 1 05 39 AM" src="h

[2019-08-26 20:08] krmax44 commented on #22
Personally, I'd go with a neutral sans-serif font (like San Francisco, Helvetica, Lato...) or a very clean monospace font like Roboto Mono.

[2019-08-27 02:22] arshadkazmi42 commented on #22
<img width="748" alt="Screen Shot 2019-08-27 at 7 51 35 AM" src="https://user-images.githubusercontent.com/4654382/63736090-906e1700-c89f-11e9-9705-e33dc6208901.png">

This is using Source Sans Pro font. Let me know if this looks good. Or I can try with Lato / Roboto

[2019-08-27 10:15] egoist opened #388 "Always enable --ssr flag for dev mode"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/388)

It's better to make dev build and prod build more consistent

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $40.00)

- [<img src='https://avatars3.githubusercontent.com/u/44827199?v=4' alt='issuehunt' widt

[2019-08-29 08:14] gaoryrt commented on #22
ascii art sword with pixel font https://fonts2u.com/emulogic.font

![image](https://user-images.githubusercontent.com/5306513/63921651-c95fe480-ca75-11e9-97a7-356dcd9c597c.png)

[code]

[2019-08-30 08:37] #388 closed

[2019-09-02 03:37] FriendlyUser commented on #141
I'm not sure that a custom docker image is needed to build to saber sites. I would just use the default node images, install saber and then build it.

A few tutorials may be useful and/or templates may be helpful.

[code]

or even the base nodejs templates would be adequate.

[2019-09-02 03:56] FriendlyUser commented on #206
1. The simplicity of saber is quite attractive and quite useful for because I can programatically create markdown files and everything else renders consistently.

2. I heard about saber from staticgen (site that lists all the static site generators), quite familiar with vuepress, but saber is quite good as well, although I think it's the default layout on vuepress is better.

[2019-09-02 04:00] FriendlyUser opened #406 "Copy Code Using Prism Plugin"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/406)

## Feature request

Would like to somehow enable prism configuration from the saber plugin. Not sure if this is possible already, but documentation isn't clear.

#### What problem does this feature solve?

Allow people to copy code from page

[2019-09-03 10:43] egoist commented on #29
hi @askcreative, what's the status of saber-theme-vuepress?

[2019-09-03 11:56] egoist opened #414 "--lazy mode only works after refreshing the page"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/414)

## Bug report

#### Version

master branch

#### Steps to reproduce

- Run Saber website locally
- Open `http://localhost:3000` you will get a blank page
- Refresh and it gives you proper contents.

This only happens after we enabled SSR in

[2019-09-05 17:11] egoist commented on #22
I made one which looks like:

<img width="400" alt="屏幕快照 2019-09-06 上午1 10 13" src="https://user-images.githubusercontent.com/8784712/64363417-2b56b600-d043-11e9-879d-1a7bfa71ff95.png">

[2019-09-05 17:20] krmax44 commented on #22
Looks a bit like an uppercase `L`, but I like the style.

[2019-09-06 12:32] #33 closed

[2019-09-07 13:07] #22 closed

[2019-09-07 14:41] krmax44 commented on #183
I also quite like the implementation that Sapper uses: https://sapper.svelte.dev/docs#Server_routes

[2019-09-07 15:25] egoist opened #421 "Add Saber to CodeSandbox"
Add Saber to this page (https://codesandbox.io/s/):

<img width="911" alt="屏幕快照 2019-09-07 下午11 21 03" src="https://user-images.githubusercontent.com/8784712/64476820-3e45c380-d1c6-11e9-8312-7cc1702231e3.png">

[This](https://github.com/codesandbox/codesandbox-client/pull/1652) is how VuePress got added there, it should be similar for Saber.

After that, we should also display the sandbox on saber

[2019-09-08 11:10] saltysugar commented on #414
Caused by #404 , I will submit a fix soon. 😅

[2019-09-08 16:34] egoist opened #425 "Use autodll-webpack-plugin to boost the speed of rebuilding in development"

[2019-09-09 10:27] MarchWorks commented on #425
Why not [hard-source-webpack-plugin](https://github.com/mzgoddard/hard-source-webpack-plugin) ?

[2019-09-09 16:41] #414 closed

[2019-09-10 10:08] saltysugar opened #436 "Move CI to GitHub actions"
GitHub Actions works with Linux, macOS and Windows and it's free for OSS. I think it's a good idea to test Saber on Windows as well 😄

[2019-09-10 15:39] MarchWorks commented on #425
I got a boost of 40% to 50% in build time but I will try to make it better

[2019-09-11 11:58] MarchWorks commented on #425
@egoist is there any way to get a list of dependencies used in the server compilation vs client compilation?

[2019-09-11 13:45] egoist commented on #425
We can read it from the closest `package.json`.

---

btw, I tested hard-source-webpack-plugin but no significant perf improvements

[2019-09-11 13:59] MarchWorks commented on #425
I used `Object.keys(api.pkg.data.dependencies)` but I haven't got good results. I will see if there is a way to get the built time of each module

[2019-09-11 14:27] egoist opened #442 "Display a compiling indicator in browser"
## Feature request

#### What problem does this feature solve?

Rebuilding can be slow, it's frustrating when you edit something but the page doesn't update right away, we can provide a better experience by adding an indicator to show the build progress.

In Next.js:

![next.js](https://user-images.githubusercontent.com/8784712/64705184-229e2e00-d4e2-11e9-90ac-cd9310ba50e7.gif)

In Nuxt.js:

![nux

[2019-09-11 16:39] MarchWorks commented on #425
Using this cool package [speed-measure-webpack-plugin](https://github.com/stephencookdev/speed-measure-webpack-plugin) we get the following

[code]

[2019-09-12 13:23] egoist opened #445 "Introducing `appConfig` and `pageConfig`"
# Request for Comments

### What problem does this feature solve?

You can use `siteConfig` and `themeConfig` in `saber-config.js` to configure your app and those configurations are available as simple JSON data at both compile time (like saber-node.js and plugins) and runtime (app code like saber-browser.js or a component).

But what if you want to .. use something like a Vue component in the con

[2019-09-14 16:07] egoist commented on #343
Actually I don't know if we really need this 😅

[2019-09-14 16:11] #406 closed

[2019-09-17 09:24] limitlessloop opened #457 "Redirect user when trailing slash omitted or included depending on permalink settings"
## Bug report

When customising a permalink Saber should honour the chosen permalink pattern. Currently, a user can visit both `themes/` and `theme` when a permalink is specified as `page: /:slug/`. Search engines treat these two paths as different pages. Therefore it is in the best interest for SEO reasons to only allow one. A possible solution is to redirect the user when the trailing slash `/`

[2019-09-17 15:22] egoist opened #459 "Support asynchronous transformers"
## Feature request

#### What problem does this feature solve?

Some transformers like remark.js.org allows asynchronous plugins and expose an asynchronous API.

#### How should this be implemented in your opinion?

Make `api.pages.createPage` and `api.pages.normalizePage` return a Promise.

[2019-09-17 16:03] #138 closed

[2019-09-17 16:26] egoist opened #460 "Windows path issue in $saber.getPageLink"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/saberland/saber/issues/460)

## Bug report

https://github.com/saberland/saber/blob/ac3f80d415071186e92ffa3266ff78444500b85c/packages/saber/vue-renderer/app/create-app.js#L128-L138

In line 137 `route.meta.__relative` is a path separated by slash `/`, but `relativePath`

[2019-09-17 16:32] egoist commented on #460
It would be great if we can just get rid of using `path` in the fix.

[2019-09-17 17:49] MarchWorks commented on #460
I will just say that `relativePath.replace(/\\/g, '/')` fix the problem

[2019-09-18 10:00] MarchWorks commented on #442
No need to send progress data if we do it in `Next.js` style the following code will do the job
[code]

[2019-09-18 16:50] egoist opened #462 "A plugin that uses shiki to highlight code blocks"
## Feature request

#### What problem does this feature solve?

https://shiki.matsu.io/

#### What does the proposed API look like?

[code]

#### How should this be implemented in your opinion?

Check out saber-plugin-prismjs for reference.

[2019-09-19 07:07] egoist commented on #442
@MarchWorks you can handle the events here: https://github.com/saberland/saber/blob/master/packages/saber/vue-renderer/app/dev-client.js

[2019-09-19 15:31] MarchWorks commented on #442
@egoist got it but if I do that how I am supposed to pass the `isBuilding` variable to the component? or should I use a pure js solution `document.createElement ...........`?

[2019-09-19 15:55] egoist commented on #442
@MarchWorks It's a simple component so `document.createElement` is probably enough for this.

[2019-09-19 18:58] MarchWorks commented on #442
@egoist does this loader looks good https://codepen.io/chasehsbrk238/pen/gbqYyj or do you have a better idea?

[2019-09-20 17:21] ohiosveryown opened #466 "'Window is not defined' where to place client-side only scripts?"
I'm trying to use a third-party plugin (flickity) but I'm getting an error when the app tries to build: `window is not defined`. I initialized the plugin on the mount lifecycle fwiw.

I'm guessing this is because saber/vue is trying to run the plugin while rendering to the page on the server.

Any thoughts?

[2019-09-20 17:28] egoist commented on #466
You probably need to `require` it in `mounted` as well.

[2019-09-20 18:01] ohiosveryown commented on #466
hmm, still getting `ReferenceError: window is not defined`

[2019-09-20 18:54] pro-src commented on #457
I'm on it.

[2019-09-22 14:13] ohiosveryown commented on #466
Going to try and roll my own instead of using a third-party.

[2019-09-22 14:13] #466 closed

[2019-09-25 10:05] egoist opened #472 "Markdown feature: replace tags with Vue components"
## Feature request

In:

[code]

With `saber-config.js`:

[code]

Out:

[code]

#### What problem does this feature solve?

You want the simplicity of Markdown but want the power of Vue components.

[2019-09-25 11:08] krmax44 commented on #472
Seems pretty nifty. Maybe we could combine this with something similar to [Hexo's tag plugins](https://hexo.io/docs/tag-plugins).

Also I think it would be nice if plugins could register custom Markdown components.

[2019-09-25 11:54] pxwee5 opened #473 "mini-css-extract-plugin run during yarn dev"
## Bug report
Setting `extractCSS` will not show any css rules in development.

#### Steps to reproduce

1. Set `build.extractCSS` to true
1. yarn dev
1. Style missing.

![image](https://user-images.githubusercontent.com/14123790/65598509-b518f400-dfef-11e9-9fac-02f7799c6aaf.png)

At [config.css.js](https://github.com/saberland/saber/blob/master/packages/saber/lib/plugins/config-css.js), `vue-styl

[2019-09-25 13:43] egoist commented on #472
@krmax44 If you're fine with syntax like `{% blockquote [author[, source]] [link] [source_link_title] %` why not use Vue components directly 🤔

[2019-09-25 14:16] egoist commented on #473
I tested in https://github.com/saberland/saber/tree/master/examples/extract-css and it works (css is extracted into a single file).

[2019-09-25 14:24] egoist opened #474 "Complete support for relative links in Markdown page"
## Feature request

#### What problem does this feature solve?

[code]

We should support all possible extensions here https://github.com/saberland/saber/blob/fb2832440886cc1ed3a5262fdb7a90cee7aa8125/packages/saber/lib/markdown/link-plugin.js#L28

Extensions can be retrieved from `api.transformers`

[2019-09-25 14:26] egoist commented on #474
We should also document this feature on https://saber.land/docs/markdown-features.html 😅

[2019-09-25 14:31] krmax44 commented on #472
Because I like the ""simplicity"" of Markdown but also want the power of Vue components. Ok maybe not the prettiest syntax in the world, but for folks migrating their Hexo content/are used to it or that just want to keep cody things like `<my-blockquote-component>` out of their Markdown for whatever reason, which are probably the same people that prefer `# hello` over `<md-heading>hello</md-headin

[2019-09-27 16:14] #460 closed

[2019-09-27 16:14] #474 closed

[2019-09-27 16:40] egoist opened #482 "Expose the markdown parser"
## Feature request

#### What problem does this feature solve?

To allow plugins use this API to turn Markdown into HTML.

#### What does the proposed API look like?

[code]

[2019-09-28 10:12] andreasvirkus commented on #457
I'm not sure how this can be solved by Saber, since Saber only outputs static files and it's up to the user to serve them 🤔
For example, on Netlify you can enable "Pretty URLs" - https://www.netlify.com/docs/redirects/#trailing-slash

[2019-09-28 11:12] andreasvirkus opened #483 "Fails to compile with 0.9.1 - @babel/runtime/generator module not found"
## Bug report

Running  `saber` fails to compile the dev bundle

#### Steps to reproduce

Clone this branch: https://github.com/andreasvirkus/cottage/tree/refactor/saber
`git clone git@github.com:andreasvirkus/cottage.git`

#### What is expected?

Running `saber` should compile the dev bundle and start up the development server.

#### What is actually happening?

The compiler throws an error

####

[2019-09-28 11:16] andreasvirkus opened #484 "Permalinks config option is not respected"
## Bug report

#### Steps to reproduce

Clone this branch: https://github.com/andreasvirkus/cottage/tree/refactor/saber
`git clone git@github.com:andreasvirkus/cottage.git`

1. Downgrade saber to `0.8.1` (since > `0.9` has #483)
2. Make sure you have `page: /:slug` in your `saber.config.yml` file
[code]
3. Visit the local server and try to access the pages `/about` or `/contact`

#### What is expe

[2019-09-28 11:22] andreasvirkus opened #485 "Email link gets parsed as relative link"
## Bug report

#### Steps to reproduce

Insert a `mailto:` link in a markdown file, e.g.
[code]
Repl: https://codesandbox.io/s/saber-email-link-qb07d

#### What is expected?
The rendered HTML link should be
[code]

#### What is actually happening?
The root domain is added before the link
[code]

#### Other relevant information

- Result of running `saber -v`: `0.9.1`
- Does this issue occur when a

[2019-09-28 11:28] andreasvirkus commented on #206
1. For maaany reasons
- *Simple*
- It seems like a great balance between Eleventy (trying to provide a great experience out of the box) and Vuepress (power of Vue 💚 )
- The layout, component and asset system is all very well organised (you can keep your directory structure basically flat) and thought-through
- It's one of the few static gens where I believe that I can come back in 6 or 12 months a

[2019-09-28 12:09] ibokg commented on #421
@egoist I will try to do it

[2019-09-28 12:18] egoist commented on #485
This is fixed during a refactor, will be available in next release soon.

[2019-09-28 12:30] egoist commented on #484
should be `saber-config.yml` and `saber-browser.js`

![image](https://user-images.githubusercontent.com/8784712/65816494-d582c180-e22e-11e9-940f-f9264905f498.png)

[2019-09-28 12:32] egoist commented on #483
Works fine for me, maybe try reinstalling your packages?

[2019-09-28 13:09] andreasvirkus commented on #483
Interesting 🤔  I've done the following 2-3x before submitting this issue:
[code]

I just realised I forgot to attach the error itself 🤦‍♂  Here's the error that I receive:
<img width="842" alt="Screenshot 2019-09-27 at 21 35 51" src="https://user-images.githubusercontent.com/9140811/65816941-4a8fd000-e20a-11e9-9346-8fd911de0d78.png">

[2019-09-28 13:09] #484 closed

[2019-09-28 13:09] andreasvirkus commented on #484
🤦‍♂ Thank you, that was it...

[2019-09-28 13:12] #485 closed

[2019-09-28 13:32] andreasvirkus commented on #483
Is there a specific reason why `saber` is looking under `./node_modules/saber/node_modules/@babel` instead of `./node_modules/@babel`?
There's no `node_modules` directory under `./node_modules/saber` (and I don't think there should be, right?)

[2019-09-28 14:31] limitlessloop commented on #457
Saber uses a server for development purposes, so perhaps a way to configure that could help for developing purposes.

Regarding live sites, Netlify doesn't allow consistent treatment of URLs because directories get trailing slashes and files don't. So the only way to allow that functionality with Netlify would be if Saber outputted all files as either non-index files (for no trailing slash) or ind

[2019-09-28 14:33] andreasvirkus commented on #457
The Netlify doc I linked states (for the Pretty URL feature):

[2019-09-28 14:43] limitlessloop commented on #457
It was a while since I tried Netfliy. I think when pretty URLs are enabled it will force the trailing slash. But when they are disabled, it will add a trailing slash for index.html files only. I don't think there was a way to enforce removing the trailing slash when I last used Saber with Netlify, but maybe there is a way one could disable outputting an index.html file in Saber to avoid this probl

[2019-09-28 14:57] limitlessloop commented on #457
I've found what happens with Netlify. Their documentation is incorrect. This is what happens with URLs when Pretty URLs is enabled.

<img width="877" alt="Screenshot 2019-09-28 at 15 52 31" src="https://user-images.githubusercontent.com/5551/65818275-000d5400-e208-11e9-8fb3-00f40b87e138.png">

I guess then the only way to allow non-trailing slash URLs with Netlify would be if Saber could output al

[2019-09-28 15:26] egoist commented on #483
The path to babel-runtime is set here:

https://github.com/saberland/saber/blob/7793a68c0c408f9ec635eaa827f7fda528ad3c40/packages/saber/lib/babel/optional-preset.js#L50-L52

[2019-09-29 07:30] egoist commented on #485
Fixed in v0.10.0

[2019-09-30 08:40] andreasvirkus commented on #483
The dev server builds fine with `0.10.2` 🤷‍♂  Thanks for looking into it and sorry for troubling!

[2019-09-30 08:40] #483 closed

[2019-09-30 08:41] andreasvirkus commented on #462
I'd like to tackle this 🙋‍♂ 🙏

[2019-09-30 17:55] krmax44 opened #487 "renderPageContent only works in production"
## Bug report

`api.renderer.renderPageContent` only works in production mode.

#### Steps to reproduce

Create a project with `saber-plugin-search` with the `index` option including `content`.

#### What is expected?

`content` should be set properly, as it is in production mode.

#### What is actually happening?

https://github.com/saberland/saber/blob/781995529eb66eb219af344e13feb039662aa1f5/pa

[2019-10-02 10:49] pxwee5 opened #494 "Index.vue Page does not have hot-reload"
## Bug report
Hot reloading is somehow not working for `index.vue` page files without a layout. However it is working if we're using `index.md` page and `index.vue` layout. The goal is to just use `index.vue` page without using a layout.

#### Steps to reproduce
1. Create `index.vue` page
2. Remove `layout` attribute from `export const data`
3. Edit content

#### What is expected?
Expect hot reloa

[2019-10-02 12:33] hkulur commented on #421
Hey!
I would like to take this one!

[2019-10-02 13:21] egoist commented on #494
I guess you mean hot reloading isn't working after removing the `data.layout` property from `index.vue` page.

[2019-10-02 19:44] brattonross commented on #482
Hey, I'm new to saber but I'd like to contribute if possible. As I understand it implementing this feature would mean taking some of the functionality from the markdown transformer and making it available on the saber instance so that plugins are able to make use of it?

[2019-10-03 14:31] egoist commented on #459
Turns out remark (which uses unified) has an synchronous API https://github.com/unifiedjs/unified#api, cc @limitlessloop

[2019-10-03 14:51] egoist commented on #482
@brattonross yes, like the `api.pages` API you can initialize it here: https://github.com/saberland/saber/blob/e87d81f42b36ff992db8d09aa3f16269890b541a/packages/saber/lib/index.js#L23

[2019-10-04 09:54] MarchWorks commented on #128
No need for `saber-config.ts` and `saber-node.ts` this will just make things complicated

[2019-10-04 09:59] krmax44 commented on #128
Using ts-node it should be pretty easy, don't know how involved the implementation would be in real life. From glancing at the docs it looks straightforward though.

[2019-10-04 11:41] MarchWorks commented on #442
I decided to use a "command seal" but I haven't decided which one yet maybe this one
![gilgamesh-command-spell](https://user-images.githubusercontent.com/40798653/66205007-2e75ae00-e6a4-11e9-9c38-8e60f2b64d09.jpg)

[2019-10-04 12:38] MarchWorks commented on #442
still needs some tweaks https://jsfiddle.net/3h8vayjs/2/

[2019-10-04 13:17] egoist commented on #442
Interesting, is there an animated version? 😄

[2019-10-04 13:18] MarchWorks commented on #442
Not yet but I am thinking of animating it like when a "command" is used

[2019-10-04 14:40] egoist commented on #128
Yeah, at least we should add support for using TypeScript in pages.

[2019-10-05 07:50] #487 closed

[2019-10-05 17:30] brattonross commented on #482
So currently the function signature that I have for render looks like this:

[code]

I'm assuming here that the second argument is optional, and that by default the default plugins should be used.

I then merge the options which are passed in with the existing options:

[code]

I have a couple of questions about the plugins; firstly, should the call to the `chainMarkdown` hook always happen, or on

[2019-10-06 15:01] #94 closed

[2019-10-06 15:31] MarchWorks commented on #473
closed with 1cc0757136698c30d4021a9b3c773983fb6a1253

[2019-10-06 15:31] #473 closed

[2019-10-06 19:12] egoist opened #506 "Render `<a>` as a normal link if it doesn't point to a page"
Currently `<a href="/atom.xml">` will be rendered as `<router-link to="/atom.xml">`, a link pointing to a non-existent page should be rendered as a normal `<a>` tag.

[2019-10-06 21:30] #506 closed

[2019-10-07 10:32] pxwee5 commented on #494
Yep that's what I meant.

Also, `saber-link` won't update the page content (`window.History` is updated however) on a clear cache reload if index page does not use a layout.

To replicate:
1. cmd+shift+R index page
2. Try to click any of the permalinks in `injectAllPost` posts.

[2019-10-08 08:52] egoist opened #508 "Allow plugin to modify siteConfig and themeConfig"
## Feature request

#### What problem does this feature solve?

Plugins should be able to set default value for `siteConfig`, and probably `themeConfig`.

e.g. You create a plugin to fetch `siteConfig` from headless CMS, but you also want the user to override `siteConfig` via `saber-config.yml`.

#### What does the proposed API look like?

A plugin:

[code]

This is implemented as a [plugin option

[2019-10-08 09:17] egoist commented on #508
Alternatively we can add support for async `apply` 🤔:

[code]

[2019-10-08 09:50] egoist commented on #421
@hkulur Hi, any progress? Do you need any help? 😄

[2019-10-08 09:58] egoist opened #509 "Show a notifier when it's required to restart server"
## Feature request

#### What problem does this feature solve?

https://github.com/saberland/saber/blob/83c18a706637fedccdbe0ad34566218dc5780d94/packages/saber/lib/plugins/extend-node-api.js#L89

People often modify `saber-config.js`, `saber-node.js` and forget to restart server.

#### How should this be implemented in your opinion?

Maybe use https://www.npmjs.com/package/node-notifier, and expos

[2019-10-08 10:01] MarchWorks commented on #509
Maybe a notification for when the building is finished too

[2019-10-08 11:33] hkulur commented on #421
Hey @egoist,
I have started work on it but it seems like they have made some changes to how they fetch templates after Vuepress was added. Templates are now a separate package. I ll try to finish it this week. Will let you know if I get stuck. Thanks!

[2019-10-08 12:06] egoist opened #510 "Add Saber to Wappalyzer"
Wappalyzer is a cross-platform utility that uncovers the technologies used on websites.

https://www.wappalyzer.com/docs#new-application

A typical Saber app has `<meta name="generator" content="Saber vx.y.z">` and `<div id="_saber"></div>`

[2019-10-08 12:47] egoist opened #511 "nuxt-like asyncData"
## Feature request

#### What problem does this feature solve?

Provide an alternative to Gatsby's [page query](https://www.gatsbyjs.org/docs/page-query/) and Nuxt's [asyncData](https://nuxtjs.org/api/).

#### What does the proposed API look like?

[code]

[2019-10-08 13:26] tyankatsu0105 commented on #510
I'm Wappalyze user.
I'll work on this issue :)

[2019-10-09 03:20] gaoryrt opened #512 "saber theme unit test"
## Feature request

#### What problem does this feature solve?
I need some tests to make sure all the styles in my theme are performed properly.
#### What does the proposed API look like?
[hexo-theme-unit-test](https://github.com/hexojs/hexo-theme-unit-test) but for saber.
#### How should this be implemented in your opinion?
Bunch of .md files and a checklist.
#### Are you willing to work on this

[2019-10-09 14:18] krmax44 opened #515 "Global components"
## Feature request

Allow the user to register components globally, without digging in configs.

#### What problem does this feature solve?

When using components like `<warning-message>Heads up!</warning-message>` oftenly throughout Markdown, it becomes repetetive to add a script block that imports and registers the component.

#### What does the proposed API look like?

[code]

Maybe also config

[2019-10-09 14:32] krmax44 opened #516 "Disable Markdown rendering in Vue-in-Markdown elements"
## Bug report

Markdown in Vue-in-Markdown components gets rendered.

#### Steps to reproduce

[code]

#### What is expected?

[code]

#### What is actually happening?

Gets rendered to:

[code]

To me, that's very confusing and there's no apparent way to remove the `<p>` tag from the slot.

#### Other relevant information

- Result of running `saber -v`: latest
- Browser version (optional):
- Is

[2019-10-09 15:54] egoist opened #518 "Implement code highlighting using template plugin"
Similar to the [link plugin](https://github.com/saberland/saber/blob/master/packages/saber/vue-renderer/lib/template-plugins/link.js), we can make the `highlight` option of markdown-it always return `<pre data-lang="lang"><code>code</code></pre>`, and use a template plugin to highlight `code` in `<pre>` elements, this way code highlighting will also work for `.vue` pages, `.html` pages etc

[2019-10-09 17:51] egoist commented on #516
That should be possible by modifying the html renderer in markdown-it, I haven't tested it tho.

[2019-10-09 17:54] egoist commented on #515
Why not register global components in `saber-browser.js`

[2019-10-09 17:56] krmax44 commented on #515
Did that before, thought it might be handy to do that based on file structure rather than config.

[2019-10-10 03:00] gaoryrt commented on #485
or just use `[e-mail](mailto://some@email.com)`

[2019-10-10 06:25] andreasvirkus commented on #485
@gaoryrt any reference that that is valid html?

[2019-10-10 06:44] gaoryrt commented on #485
It just open a new email window send to `//some@email.com`,
the double slash (`//`) won't be considered as a relative link,
which lead to this bug.

[2019-10-10 07:05] andreasvirkus commented on #485
Okay, thanks. I wouldn't bet my money on all e-mail clients parsing that correctly though.

[2019-10-14 16:19] egoist opened #527 "saber-plugin-image: transform `<img>` instead"
Currently it transforms markdown image `![]()` to `<saber-image>`, as we can use PostHTML to transform Vue template now, why not transform all `<img>` tags to `<saber-image>`?

[2019-10-14 17:10] andreasvirkus opened #528 "List plugins on the website"
## Feature request

As proposed by @egoist on Discord, we should display a list of available plugins on the website to raise awareness of their existence.

#### What problem does this feature solve?
People not being aware that plugins (official and unofficial) exist.

#### What does the proposed API look like?
A separate page (could even render the plugins section from [awesome-saber](https://gith

[2019-10-27 07:20] tyankatsu0105 commented on #509
re https://github.com/saberland/saber/pull/514#issuecomment-541421199

[2019-10-28 05:09] kidonng commented on #509
Would it be fine to restart the server automatically?

[2019-10-30 12:06] egoist opened #537 "saber-plugin-feed: remove invalid character for XML feed"
## Bug report

![image](https://user-images.githubusercontent.com/8784712/67856907-8d69fe00-fb50-11e9-84cf-cf785398fb7d.png)

How to remove invalid chars: https://stackoverflow.com/questions/397250/unicode-regex-invalid-xml-characters/961504#961504

[2019-11-01 10:37] rikakomoe commented on #206
I have been watching this project for years, derived from the Peco age. Then Peco got abandoned and merged into this Saber. The core features I've been looking for was:

1. A static site generator, more powerful or at least as well as Hexo
2. Modern features, like history api router out of box
3. The ability to mix customed components into Markdown documents.

Actually I was inspired at the first

[2019-11-01 10:48] egoist commented on #206
@rikakomoe those features are all available in Saber now 🤔

[2019-11-01 12:15] egoist commented on #510
Wow thanks @tyankatsu0105 🎉

[2019-11-01 12:15] #510 closed

[2019-11-01 20:04] egoist opened #539 "Rephrase the Comparisons section in docs"
I've got a few questions like this: https://twitter.com/nock_w/status/1190353526129676289?s=19

It should include:

- Why you should choose Saber
- The differences with Gridsome / VuePress / Nuxt

https://saber.land/docs#comparisons

PR welcome.

[2019-11-02 09:41] #436 closed

[2019-11-02 18:07] AlexisJC opened #543 "Tutorial: Get an error before creating a first page"
## Bug report

#### Steps to reproduce

Follow actual tutorial setup.

#### What is expected?

Get a 404 page when running yarn saber.

#### What is actually happening?

Get a terminal error : `Error in render: "TypeError: Cannot read property 'path' of undefined"`

#### Other relevant information

- Result of running `saber -v`: get an error because it is not installed globally
- Browser version

[2019-11-02 18:28] egoist commented on #543
Yeah that happens when you don't have any pages, for now you can create a page to work around it.

I'll fix that later but PR is welcome, basically we need to remove the comma [here](https://github.com/saberland/saber/blob/master/packages/saber/src/vue-renderer/index.js#L257)  when there're no pages.

[2019-11-03 10:36] #543 closed

[2019-11-04 13:32] egoist opened #553 "Use a centralised data store"
## Feature request

#### What problem does this feature solve?

Saber has a `api.pages` object you can use to store pages, but in practice you also need to store data for `authors`, `tags` etc.

#### What does the proposed API look like?

[code]

[2019-11-06 08:15] egoist opened #555 "Setting default document title and meta description"
## Feature request

#### What problem does this feature solve?

Adding default `<title>` and `<meta name="description">` based on `siteConfig.title` and `siteConfig.description` in your Saber config file.

#### How should this be implemented in your opinion?

Adding them to root Vue instance: https://github.com/saberland/saber/blob/a485cf80b8267ece7f25e59706a260e26130105a/packages/saber/vue-app/cr

[2019-11-06 10:39] the94air commented on #555
That's a good idea. We probably do that on every application!

[2019-11-06 12:16] M1seRy commented on #555
@egoist  Hi,  I wanna try to contribute code for this feature  : )

[2019-11-06 17:05] egoist commented on #555
@M1seRy 👬 Let's do it

[2019-11-07 06:49] M1seRy commented on #555
@egoist check [#pr556](https://github.com/saberland/saber/pull/556) .

 It is always nice to try new things, it's my first time to use Saber ( writing my blog with Hexo before), I really looking forward to doing more things for this project ❤️.

[2019-11-07 20:08] weekly-digest[bot] opened #558 "Weekly Digest (31 October, 2019 - 7 November, 2019)"
Here's the **Weekly Digest** for [*saberland/saber*](https://github.com/saberland/saber):

 - - -
# ISSUES
Last week 17 issues were created.
Of these, 5 issues have been closed and 12 issues are still open.
## OPEN ISSUES
:green_heart: #555 [Setting default document title and meta description](https://github.com/saberland/saber/issues/555), by [egoist](https://github.com/egoist)
:green_heart: #554

[2019-11-08 06:41] samoraa opened #559 "saber-plugin-query-posts: Pagination 'next' and 'prev' links seems incorrect"
## Bug report

#### Steps to reproduce
Fresh install Saber, install and followed saber-plugin-query-posts readme to make a blog post with pagination.

#### What is expected?
On the first paginated page, `hasNext` should be `true`, `hasPrev` should be `false`, same for `nextLink` and `prevLink`

![Screenshot from 2019-11-08 14-24-58](https://user-images.githubusercontent.com/53637476/68455087-68067

[2019-11-08 18:33] andreasvirkus commented on #559
I think it's showing the latest posts first, therefore `hasPrev` would mean has previous posts? As you can see, The order of the posts is
[code]
Therefore it's a question of semantics and not really a bug. You could rename the `Prev Page` link to read `Older posts` instead, and the behaviour would be correct, right?

[2019-11-08 18:41] andreasvirkus opened #560 "Support multiple page types for query-posts plugin"
## Feature request

#### What problem does this feature solve?

Having multiple page collections, besides the standard `_posts/` type, e.g. `_jobs/` (to list all available job ads), `_projects` (for a portfolio maybe), etc.

#### What does the proposed API look like?

Maybe the user could add `injectByType: 'slug'` in the YAML frontmatter, where `slug` would have to match `_<slug>` in the director

[2019-11-08 19:01] krmax44 commented on #560
I think this is a good idea. Maybe instead of only adding this feature, query-posts could be overhauled so that you can query pages in a more customisable way (the current implementation doesn't resemble that much of a *query* plugin, in my opinion, which would be awesome if it was).

[2019-11-08 19:16] egoist commented on #559
Maybe we should reverse that, it seems everyone else is using *next* for older stuff 😅

[2019-11-08 19:35] egoist commented on #560
I had thought about some kind of query syntax like this:

jobs.md

[code]

The front matter above makes Saber generate:

/jobs
/jobs/p/2
/jobs/p/3

And job posts are injected as `page.jobs`

[2019-11-08 19:59] krmax44 commented on #560
I don't know how I feel about doing querying in Markdown, since displaying the queried posts isn't usually done in the Markdown either. Maybe a layout-focused/Vue-page-focused API/query syntax would make sense.

[2019-11-08 23:43] samoraa commented on #559
@andreasvirkus Okay that make sense, yes you're right, I am using that for workaround now. Thanks!

[2019-11-09 07:00] andreasvirkus commented on #560
@krmax44 do you mean something with a Vue plugin's syntax, so the user could call `this.$queryPosts`, e.g.?
[code]

[2019-11-09 13:18] krmax44 commented on #560
@andreasvirkus an API like that would be tricky to implement, as then pages would be fetched at runtime rather than at buildtime.

Maybe something like this would facilitate it:

[code]

or with a function:

[code]

Would be awesome if this worked on layouts and pages.

[2019-11-09 13:24] andreasvirkus commented on #560
Good point about the runtime vs buildtime. But I fail to see how
[code]
differs from
[code]
as Egoist proposed initially?

[2019-11-10 09:36] weekly-digest[bot] opened #561 "Weekly Digest (3 November, 2019 - 10 November, 2019)"
Here's the **Weekly Digest** for [*saberland/saber*](https://github.com/saberland/saber):

 - - -
# ISSUES
Last week 16 issues were created.
Of these, 3 issues have been closed and 13 issues are still open.
## OPEN ISSUES
:green_heart: #560 [Support multiple page types for query-posts plugin](https://github.com/saberland/saber/issues/560), by [andreasvirkus](https://github.com/andreasvirkus)
:gree

[2019-11-11 12:58] #555 closed

[2019-11-11 17:00] krmax44 commented on #560
Another possible API:

[code]

#511 could also be incorporated into this.

[2019-11-14 06:53] #561 closed

[2019-11-14 18:42] egoist commented on #560
Maybe it's finally the time to consider GraphQL? 😅

[2019-11-14 19:06] krmax44 commented on #560
Personally, I'd like to avoid GraphQL since it's intimidating to newcomers and usually adds a lot of overhead to simple projects. I can see the appeal due to its flexibility though, so if we can keep the overhead to a minimum (by making it optional when the defaults aren't enough) and explaining it really well in the docs so that anyone understands, it might work out.

[2019-11-15 14:07] egoist commented on #560
I tried GraphQL again but there're too many restrictions, so here's my updated proposal for mongo-like query syntax:

Query all pages:

[code]

Query last 5 posts written in this Year:

[code]

`$query` is pointed to a collection name, by default in Saber there will be only one collection which is `page`, a plugin can create a new collection to store custom data, like `author` collection which res

[2019-11-15 14:54] krmax44 commented on #560
Maybe [Sift.js](https://github.com/crcn/sift.js) could be used to implement a portion of the querying part.

What about scoping queries instead of adding them to the main `data` object? Maybe like this:
[code]

or

[code]

[2019-11-17 09:36] weekly-digest[bot] opened #566 "Weekly Digest (10 November, 2019 - 17 November, 2019)"
Here's the **Weekly Digest** for [*saberland/saber*](https://github.com/saberland/saber):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 2 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #565 [build(deps-dev): bump lint-staged from 8.1.6 to 9.4.3](https://github.com/saberland/saber/pull/565), by [dependabot-preview[bot]](https://github.com/apps/depend

[2019-11-17 10:44] #566 closed

[2019-11-18 16:35] egoist opened #567 "Saber v1 roadmap"
- [ ] New `saber-browser.js`, `saber-node.js`, and `saber-ssr.js` APIs: no this, try to be close to Gatsby's API
- [ ] New plugin API, just look for saber-*.js in the plugin directory, support local plugins in ./plugins folder
- [ ] Provide a way to query data directly in pages and layouts (possibly in every component?) #560

[2019-11-18 17:07] krmax44 commented on #567
Maybe for v1, all files with 200+ lines of code could be refactored to be more readable and maintainable.

[2019-11-18 20:08] krmax44 opened #569 "ESLint and Vetur integration"
## Feature request

Create a linter/Vetur autocompletions/Vetur templates/typings for `saber-config.js` and the customized Vue parts (like `export const data = {}`).

#### What problem does this feature solve?

Developer experience++

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

Let's just look at Gridsome and how they've done it :eyes:

#### Ar

[2019-11-19 06:02] egoist commented on #569
Do you really need that? Now you can use TypeScript:

[code]

[2019-11-19 06:48] krmax44 commented on #569
@egoist It'd be cool if that would be applied automatically. Necessary? No :smile:

[2019-11-20 01:42] barkdoll commented on #567
Hey egoist, awesome work on Saber. As Vue 3 closes in, I was just wondering, is there eventually going to be planned support for the new Vue 3 features— namely the new composition API?

[2019-11-20 09:39] egoist commented on #567
@barkdoll yes, if that would make things easier. I haven't found a use case  for Saber tho 😅

[2019-11-21 08:57] andreasvirkus commented on #559
@egoist would you want to switch the wording? Should we keep this backwards compatible? Or is it a suitable breaking change for v1?

[2019-11-22 01:39] barkdoll commented on #567
@egoist awesome. I was just thinking ahead as far as using it to build components, While Saber may not have a specific need for it yet, I think the availability of it will be a huge plus when a use case is discovered.

[2019-12-21 11:20] sustained commented on #560
I also need support for multiple collection,  like Jekyll has and without it I don't think I can use Saber.

I don't personally care for this pseudo-GraphQL query stuff however.

[2019-12-21 11:44] andreasvirkus commented on #560
Yeah... I think the universal approach that has been discussed here is over-optimizing for issues that users aren't facing yet. We've currently forked the query-posts plugin and just added options for different types besides `post` like `job` and `case-study`, etc. 🤷‍♂

[2019-12-21 12:13] sustained opened #577 "Provide tags and categories by default?"
## Feature request

#### What problem does this feature solve?

Right now we have to do something like this in our blog template:

[code]

It's not much work but don't you think it amounts to needless boilerplate, when instead the plugin could just provide a list of all tags and categories by default?

#### What does the proposed API look like?

See below.

#### How should this be implemented in y

[2019-12-21 12:50] sustained opened #578 "Available posts is incorrect with saber-plugin-query-posts and categories"
## Bug report

I have 3 posts in the `_posts` directory and each has a different category.

For my `blog` layout that has `injectAllPosts: true` all 3 posts are present.

For my `category` layout, **only** the first post I created shows for all 3 categories.

#### Steps to reproduce

https://github.com/sustained/sustained-saber

#### What is expected?

That, for my `category` layout, `page.posts`

[2019-12-21 14:57] #578 closed

[2019-12-21 14:57] sustained commented on #578
PEBKAC.

[2019-12-21 16:50] sustained commented on #44
@MarchWorks You said that this is unnecessary now, how come?

I was just about to make my own table of contents component that takes the `markdownHeadings` and produces something like VuePress has for the sidebar but if there's some existing solution for this (couldn't find it in the docs or issues) then I'd rather use that.

[2019-12-28 08:21] sustained commented on #560
I agree, I think it'd be nice to just add basic support for multiple collections at first, that will stand alone as a rather nice feature and then afterwards discussion can be had about a querying system and whatever other bells and whistles?

[2020-01-12 05:11] sno2 opened #585 "Error While Injecting Script Tag into Head"
## Error While Injecting Script Tag into Head

I am trying to manipulate the head of my website using the head attribute inside of the export default function on my post layout inside of my Saber Vue.js static site generated website (https://saber.land). Whenever I try to add in my script tag and the Adsense code using the head attribute, none of the main.js code is running. I know that an error i

[2020-01-12 08:12] krmax44 commented on #585
Your default export has the key `head` twice, which is probably causing the error.

Try:

[code]

[2020-01-13 04:09] Siricee opened #586 "Saber 0.11.5 'saber-config.yml' performed different from 'saber-config.js' in <saber-link> path."
## Bug report

#### Version
0.11.5

#### Steps to reproduce

[code]

in saber-config.yml:
[code]
`dev` mode: http://localhost:3000/posts will be routed to 404 page.

if I change it to
[code]
`dev` mode will work,
`build` mode will cause 'saber-plugin-query-posts' build error in pagination 'posts/page/2'.

but in saber-config.js:
[code]
all works.

So I think something wrong has happend in yaml con

[2020-01-18 11:10] Liwoj opened #587 "sass-loader v8+ compatibility"
## Bug report
Including sass files while using `sass-loader` version 8+ throws error when compiling the app

Reason is `sass-loader` introduced [breaking change](https://github.com/webpack-contrib/sass-loader/releases/tag/v8.0.0) in 8.0 moving all sass options under `sassOptions` sub-key

Problematic file is [config-css.js](https://github.com/saberland/saber/blob/master/packages/saber/src/plugins/

[2020-02-05 09:49] SupriyoSarkar commented on #163
I want to contribute to this project

[2020-02-17 11:25] andreasvirkus opened #593 "Add --no-inline build flag (for CSP compatibility)"
## Feature request

#### What problem does this feature solve?
It would allow users to keep very strict CSP directives (since the output is often a simple static site) by removing inlined styles and base64-inlined images.

#### What does the proposed API look like?

Maybe a `--no-inline` flag passed in to `saber build`?

#### How should this be implemented in your opinion?

When the flag is presen

[2020-03-12 16:46] themindstorm opened #595 "Can I inject posts into a Vue component (not layout)?"
I have a table of contents component which shows a list of posts. I tried this:

[code]

When I check the Vue devtools, `page` does not have any property `posts`. Is there a way to do this?

[2020-03-12 16:48] krmax44 commented on #595
You'd have to pass the page prop manually, like this:

[code]

[2020-03-12 18:46] themindstorm commented on #595
@krmax44 Thanks for the quick reply. Is there a chance that the ability to inject posts into components will be added soon?

[2020-03-12 18:52] krmax44 commented on #595
I don't really see a wide use-case for that. Components aren't meant to have page state, but to be page/layout-agnostic. A component usually is something like a button. If you want to create a post component used on the index page, category/tag pages etc. it is meant to be used like this:

[code]

For page state, layouts are the intended way.

[2020-03-24 18:09] geekplux opened #596 "No effect after setting metaInfo"
## Bug report

#### Steps to reproduce

setting `metaInfo` in `head` or `setHead()`:

[code]

#### What is expected?

a `<script>` tag would be inserted before `</body>`

#### What is actually happening?

#### Other relevant information

- Result of running `saber -v`: 0.11.5
- Browser version (optional):
- Is Saber a global or local install? local
- Which package manager did you use for the insta

[2020-03-25 01:33] egoist commented on #596
Return the metaInfo properties directly in `setHead` or `head` option in your component.

[2020-04-13 05:22] Apostolique opened #600 "Feature request: Expose line number index for color highlighting"
## Feature request

#### What problem does this feature solve?

It makes it possible to start the lines numbers to something else than 1.

#### What does the proposed API look like?

Exposed in a similar way to the current line highlighting in the markdown.

#### How should this be implemented in your opinion?

https://github.com/saberland/saber/blob/ec2cbac5a093edbe7454f14a0cfd1af6276c1ab3/packag

[2020-04-13 05:29] egoist commented on #600
We are using CSS counters in [saber-highlight-css](https://github.com/saberland/saber/blob/ec2cbac5a093edbe7454f14a0cfd1af6276c1ab3/packages/saber-highlight-css/default.css#L74), so probably we need to inline that style into this line instead:

https://github.com/saberland/saber/blob/ec2cbac5a093edbe7454f14a0cfd1af6276c1ab3/packages/saber/src/markdown/highlight-plugin.js#L14

Like this:

[code]

A

[2020-04-15 18:50] egoist commented on #183
Just updated the proposal ⬆️

[2020-04-18 16:41] h404bi opened #601 "Regression: #556 causing duplicated document meta description"
## Bug report

#556

#### Steps to reproduce

https://saber.land
![20200419003332](https://user-images.githubusercontent.com/5764917/79643439-85247e80-81d5-11ea-924a-04dcf9428a34.png)

#### What is expected?

No duplicated meta description.

#### What is actually happening?

#### Other relevant information

- Result of running `saber -v`: 0.11.5
- Browser version (optional):
- Is Saber a global or

[2020-04-18 17:52] egoist commented on #593
You can manually modify webpack config but it's kinda verbose, we can add new build option (https://saber.land/docs/saber-config.html#build) to control this. Similar to this option (https://poi.js.org/config.html#assets-inlineimagemaxsize) in Poi.

[2020-04-19 05:48] #601 closed

[2020-05-18 17:58] #600 closed

[2020-06-21 19:12] andreasvirkus commented on #567
Throwing it out there... Being built ontop of [vite](https://github.com/vitejs/vite)?

[2020-07-08 12:20] nazarepiedady opened #635 "Portuguese Translating"
### Hi, there!
I really liked the project simplicity and I want to help the project to reach people that speak portuguese like me, but I just starting my studies in Vue.js this days. I need someone to prepare the option to portuguese language and I will just translate the content.

If someone want to help, comment this issue with some instructions or tips that will help me.

[2020-07-16 09:01] egoist commented on #567
@andreasvirkus I'd rather wait for esbuild to be mature, Vite still uses Rollup in production and it's slow too, and it uses different build tools for dev/prod build, that inconsistency might make it harder to debug errors.

[2020-07-16 12:32] andreasvirkus commented on #567
Valid point. I used Vitepress for 2 small projects and the DX was lovely and it didn't seem to sacrifise anything else to achieve that DX (but they were quite simple sites and nothing fancy...).

[2020-07-16 17:20] egoist commented on #567
I just built something fully using esbuild (and React, since it's hard to use Vue with esbuild for now) https://github.com/egoist/maho

[2020-09-20 15:45] ModdedGamers commented on #136
I'd love to do this, but I need more information.

1. Is this testing the generated sites, or the code in this repo?
2. What needs to be tested?

[2020-10-31 20:07] #635 closed

[2020-11-15 23:23] Assassyn opened #662 "How to add meta inside a md file"
Is there an ability to add meta tags inside md files?

[2020-12-18 17:48] Siricee commented on #577
Maybe you can try this package: `saber-plugin-classification`
- npm: https://www.npmjs.com/package/saber-plugin-classification
- github: https://github.com/Siricee/saber-plugin-classification

[2020-12-18 19:20] andreasvirkus opened #670 "Build requires PostCSS @ 8 support"
## Bug report

The dev server (`saber`) fails to compile with the message:

[code]

#### Steps to reproduce

1. Brand new saber project
2. `npm run dev`

#### What is expected?

Saber would compile

#### What is actually happening?

Post CSS complains about not having the minimum required version

#### Other relevant information

- Result of running `saber -v`: `0.11.7`
- Browser version (optional

[2020-12-18 19:21] andreasvirkus commented on #670
Can we swap out `@egoist/postcss-loader` for the upstream package (https://github.com/webpack-contrib/postcss-loader)? There doesn't seem to be any diff - https://github.com/webpack-contrib/postcss-loader/compare/master...egoist:master

Here's also Post CSS's official migration guide - https://github.com/postcss/postcss/wiki/PostCSS-8-for-end-users

[2020-12-18 19:23] andreasvirkus commented on #670
Downgrading and fixing `autoprefixer` to version `9.8.6` allows to compile Saber currently as a workaround

[2021-03-13 02:05] #585 closed

[2021-03-17 10:15] Carrie999 commented on #670
![8](https://user-images.githubusercontent.com/26757216/111451709-af1b5380-874c-11eb-86dc-7a11fb4807eb.gif)

[2021-03-18 08:33] Carrie999 commented on #670
![image](https://user-images.githubusercontent.com/26757216/111596002-ab003c00-8807-11eb-866c-df7a63714580.png)

[2021-04-13 16:32] arslabora opened #695 "i18n and translations using only one file per page"
## Feature request

#### What problem does this feature solve?
It will avoid duplication in the page structure, a much cleaner source and streamlined workflow

#### What does the proposed API look like?

#### How should this be implemented in your opinion?
I think the way NetlifyCMS deal with translations extremely clever: it allow for three different strategies - a folder structure for each langu

[2021-04-13 16:40] egoist commented on #695
I'm rewriting Saber, so no new features for now, but I'll take this into consideration while working on the new version.

[2021-04-13 18:00] arslabora commented on #695
Thanks for let me know! I would love to help, if possible.

On Tue, Apr 13, 2021, 13:40 Kevin Hazy ***@***.***> wrote:

[2021-04-25 15:57] egoist commented on #567
@andreasvirkus I was wrong, a Vite based Saber is coming...

[2021-04-27 12:17] andreasvirkus commented on #567
That's great! A vite-powered SSG is just what's missing from the Vite ecosystem atm `<3`

[2021-04-27 12:42] krmax44 commented on #183
I'm currently building something similar: [rollup-plugin-computed](https://github.com/krmax44/rollup-plugin-computed)

[2021-06-10 14:13] ckouder commented on #128
Is this issue still open to new pull request?

[2022-08-06 21:15] TYKUHN2 commented on #183
Is this project still being worked on? The website seems parked by adware/viruses. If it is, I can take a look at this issue.

[2022-11-15 11:33] zxx457 opened #741 "Wrong Link in the page: https://github.com/saberland"
https://saber.land/ this link to an ads site